In [1]:
import pandas as pd

In [7]:
df = pd.read_excel(r'C:\Users\samas\Downloads\FOMC_windows.xls')

In [8]:
df

,date,FOMC_time,SP_time,time_since_FOMC,time,open,high,low,close,tickcount,...,time_bbg_time,time_future,fomc,fomc_type,fomc_release,FOMC_hour,FOMC_minute,FOMC_sec,_merge,Flag
0,1994-02-04,39900000.0,38940000.0,-16,10:49,478.140015,478.140015,478.049988,478.049988,3,...,NaN,NaN,1994-02-04 11:05:00,meeting_scheduled,post,11.0,5.0,0.0,NaN,ThreeDataPoint
1,1994-02-04,39900000.0,39540000.0,-6,10:59,477.019989,477.029999,477.000000,477.000000,3,...,NaN,NaN,1994-02-04 11:05:00,meeting_scheduled,post,11.0,5.0,0.0,NaN,ThreeDataPoint
2,1994-02-04,39900000.0,41100000.0,20,11:25,476.809998,476.820007,476.799988,476.820007,4,...,NaN,NaN,1994-02-04 11:05:00,meeting_scheduled,post,11.0,5.0,0.0,NaN,ThreeDataPoint
3,1994-03-22,51600000.0,51000000.0,-10,14:10,470.190002,470.220001,470.190002,470.209991,3,...,NaN,NaN,1994-03-22 14:20:00,meeting_scheduled,post,14.0,20.0,0.0,NaN,Regular
4,1994-03-22,51600000.0,52800000.0,20,14:40,470.420013,470.429993,470.420013,470.429993,2,...,NaN,NaN,1994-03-22 14:20:00,meeting_scheduled,post,14.0,20.0,0.0,NaN,Regular
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,2020-03-31,NaN,NaN,-1000,15:00,2623.030029,2626.760010,2621.790039,2626.040039,60,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,Day Before Morning Announcement
446,2020-03-31,30600000.0,30660000.0,1,08:31,2614.689941,2616.010010,2610.260010,2610.530029,59,...,NaN,NaN,2020-03-31 08:30:00,meeting_unscheduled,post,8.0,30.0,0.0,matched (3),AfterMorningAnnouncement
447,2020-03-31,30600000.0,31800000.0,20,08:50,2601.100098,2601.229980,2597.840088,2598.429932,60,...,NaN,NaN,2020-03-31 08:30:00,meeting_unscheduled,post,8.0,30.0,0.0,matched (3),AfterMorningAnnouncement
448,2020-04-29,50400000.0,49800000.0,-10,13:50,2943.679932,2943.679932,2942.159912,2942.330078,60,...,14:00:00,NaN,2020-04-29 14:00:00,meeting_scheduled,post,14.0,0.0,0.0,NaN,Regular
449,2020-04-29,50400000.0,51600000.0,20,14:20,2948.489990,2949.699951,2948.149902,2949.350098,60,...,14:00:00,NaN,2020-04-29 14:00:00,meeting_scheduled,post,14.0,0.0,0.0,NaN,Regular

In [9]:
mask = (df.time_since_FOMC < 0)

In [10]:
df1 = df.loc[mask]

In [11]:
df2 = df.loc[~mask]

In [13]:
post_fomc = df2.loc[df2.groupby(['date'])['time_since_FOMC'].idxmax()]

In [14]:
pre_fomc = df1.loc[df1.groupby(['date'])['time_since_FOMC'].idxmin()]

In [19]:
post_fomc = post_fomc[['date', 'time_since_FOMC', 'open', 'high', 'low', 'close' ,'fomc_type', 'Flag']]

In [20]:
pre_fomc = pre_fomc[['date', 'time_since_FOMC', 'open', 'high', 'low', 'close' ,'fomc_type', 'Flag']]

In [22]:
datasets = [pre_fomc, post_fomc]
sheet_names = ['Pre-FOMC', 'Post-FOMC']
name = 'pre_post_fomc.xlsx'
with pd.ExcelWriter(name) as writer:
    for data, sheet in zip(datasets, sheet_names):
        df = pd.DataFrame(data)
        df.to_excel(writer, sheet_name=sheet)