In [1]:
import pandas as pd
%pylab inline
#importing required packages

Populating the interactive namespace from numpy and matplotlib

In [2]:
df1  = pd.read_excel(r'C:\Users\samas\Downloads\ECGDUS4Sai.xlsx', sheet_name= 'BN_SURVEY_AVERAGE')

In [3]:
df1['cyr'] = df1['Date'].dt.year
df1['cqtr'] =  pd.to_datetime(df1.Date).dt.quarter
df1['cpq'] = df1['cyr'].apply(str) + df1['cqtr'].apply(str)

In [4]:
df2 = pd.read_excel(r'C:\Users\samas\Downloads\fomc_dates.xlsx') #loading the datasets, replace the path

In [5]:
df1['str_date'] = df1['Date'].astype(str)
df2['str_date'] = df2['date'].astype(str)   #converting the dates to strings to iterate
before = [] 
after = [] #an empty list to collect the values
for idx, row in df1.iterrows():  #iterating through the rows of the forecast dataset
    x = 0        #indicator variable
    for i in df2['str_date']:  #looping through dates in the fomc dataset
        if i in row['str_date']:  #checking if the fomc date exists in the forecast dataset
            prev = df1['cpq'][idx-1]
            prev = int(prev)
            a = df1.loc[idx - 1, prev:]  # if yes, locating the previous day forecasts row and getting all the values in that row
            a = a.dropna()
            a = list(a.values)
            #a = a[1:]
            d = a[-1]
            a = a[:-1]
            a = a[:len(a)-3] #dropping all the NaN values and formatting the values as required
            a = [i] + [d] + a #adding the fomc date and the previous day date to the list of values
            prev1 = df1['cpq'][idx+1]
            prev1 = int(prev1)
            b = df1.loc[idx + 1, prev1:]
            b = b.dropna()
            b = list(b.values)
            #b= b[1:]
            e = b[-1]
            b = b[:-1]
            b = b[: len(b) - 3]
            b = [i] + [e] + b
            before.append(a)  #appending the list to the empty list
            after.append(b)
            x = 1   #indicator 1, if date exists
            break
        if x == 0:
            pass  #if fomc date doesnt exist in forecasts, continuing with next date

In [6]:
before

[['2003-06-25', '2003-06-24', 1.36, 3.36, 3.16, 3.42, 3.66],
 ['2003-08-12', '2003-08-11', 3.73, 3.53, 3.69, 3.68, 3.7],
 ['2003-09-16', '2003-09-15', 4.45, 3.58, 3.48, 3.7, 3.59],
 ['2003-10-28', '2003-10-27', 3.89, 3.55, 4.09, 3.85],
 ['2003-12-09', '2003-12-08', 4.0, 3.96, 4.44, 3.8, 3.64],
 ['2004-01-28', '2004-01-27', 4.1, 4.52, 3.7, 3.6],
 ['2004-03-16', '2004-03-15', 4.66, 4.79, 4.18, 4.13, 3.46],
 ['2004-05-04', '2004-05-03', 5.03, 4.25, 4.4, 3.66, 3.54],
 ['2004-06-30', '2004-06-29', 4.69, 4.17, 4.32, 3.86, 3.36],
 ['2004-08-10', '2004-08-09', 4.21, 4.21, 3.59, 3.61, 3.33],
 ['2004-09-21', '2004-09-20', 3.57, 4.23, 3.56, 3.41, 3.39],
 ['2004-11-10', '2004-11-09', 3.59, 3.12, 3.26, 3.38, 3.08],
 ['2004-12-14', '2004-12-13', 3.83, 3.11, 3.56, 3.63, 3.49],
 ['2005-02-02', '2005-02-01', 3.07, 3.53, 3.43, 3.41],
 ['2005-03-22', '2005-03-21', 4.21, 3.94, 3.66, 3.56, 3.48],
 ['2005-05-03', '2005-05-02', 3.79, 3.67, 3.4, 3.31],
 ['2005-06-30', '2005-06-29', 3.45, 3.54, 3.36, 3.31, 3.36],
 ['2005-08-09', '2005-08-08', 3.69, 3.49, 3.33, 3.22],
 ['2005-09-20', '2005-09-19', 4.02, 3.02, 3.62, 3.78, 3.36],
 ['2005-11-01', '2005-10-31', 3.16, 3.52, 3.33, 3.2],
 ['2005-12-13', '2005-12-12', 3.5, 3.66, 3.36, 3.19, 3.08],
 ['2006-01-31', '2006-01-30', 3.73, 3.36, 3.17, 3.21],
 ['2006-03-28', '2006-03-27', 4.8, 3.28, 3.08, 2.88, 2.96],
 ['2006-05-10', '2006-05-09', 3.29, 3.2, 2.95, 2.78, 2.86],
 ['2006-06-29', '2006-06-28', 2.82, 3.0, 2.83, 2.61, 2.62],
 ['2006-08-08', '2006-08-07', 3.09, 2.63, 2.45, 2.59],
 ['2006-09-20', '2006-09-19', 3.12, 2.67, 2.76, 2.3, 2.47],
 ['2006-10-25', '2006-10-24', 2.76, 2.49, 2.36, 2.29],
 ['2006-12-12', '2006-12-11', 1.97, 2.4, 2.45, 2.47, 2.55],
 ['2007-01-31', '2007-01-30', 2.5, 2.52, 2.54, 2.6],
 ['2007-03-21', '2007-03-20', 2.7, 2.53, 2.38, 2.42, 2.58],
 ['2007-05-09', '2007-05-08', 2.38, 2.37, 2.51, 2.8, 2.58],
 ['2007-06-28', '2007-06-27', 2.7, 2.39, 2.44, 2.43, 2.63],
 ['2007-08-07', '2007-08-06', 2.59, 2.61, 2.68, 2.61],
 ['2007-08-10', '2007-08-09', 2.37, 2.51, 2.51, 2.4, 2.59],
 ['2007-08-17', '2007-08-16', 2.31, 2.39, 2.4, 2.31, 2.59],
 ['2007-10-31', '2007-10-30', 1.27, 1.72, 2.05, 2.22, 2.34, 2.16, 2.32, 2.2],
 ['2007-12-11', '2007-12-10', 1.25, 1.54, 1.96, 2.4, 2.59, 2.53, 2.65, 2.48],
 ['2008-01-22', '2008-01-21', 1.26, 1.76, 2.2, 2.46, 2.49, 2.64, 2.48],
 ['2008-01-30', '2008-01-29', 1.23, 1.7, 2.13, 2.42, 2.6, 2.64, 2.66],
 ['2008-03-11', '2008-03-10', 0.69, 1.13, 2.12, 2.33, 2.42, 2.63, 2.7, 2.2],
 ['2008-03-18', '2008-03-17', 0.18, 0.55, 2.08, 2.01, 2.08, 2.53, 2.76, 2.2],
 ['2008-04-30', '2008-04-29', 0.19, 1.94, 1.78, 1.95, 2.31, 2.59, 2.33],
 ['2008-06-25', '2008-06-24', 0.39, 1.54, 1.06, 1.64, 2.08, 2.5, 2.6],
 ['2008-08-05', '2008-08-04', 1.31, 0.74, 1.43, 1.8, 2.45, 2.55],
 ['2008-09-16', '2008-09-15', 1.12, 0.5, 1.12, 1.93, 2.35, 2.03],
 ['2008-10-08', '2008-10-07', 0.48, 1.08, 1.88, 2.28, 1.9, 2.1, 2.3],
 ['2008-10-29', '2008-10-28', -0.1, 0.57, 1.54, 2.27, 1.9, 1.7, 2.0],
 ['2008-12-16', '2008-12-15', -3.79, -2.11, -0.32, 1.05, 1.78, 2.3, 2.5, 2.0],
 ['2009-01-28', '2009-01-27', -3.06, -0.63, 1.18, 1.96, 1.7, 1.75, 1.6, 1.9],
 ['2009-03-18', '2009-03-17', -4.92, -1.96, 0.39, 1.67, 2.9, 2.7, 3.0, 2.6],
 ['2009-04-29', '2009-04-28', -1.99, 0.12, 1.34, 0.4, 0.95, 1.65, 1.85],
 ['2009-06-24', '2009-06-23', -1.88, 0.59, 1.78, 1.98, 2.4, 2.6, 2.4],
 ['2009-08-12', '2009-08-11', 0.96, 1.84, 2.17, 1.47, 2.4, 2.7],
 ['2009-09-23', '2009-09-22', 2.87, 2.17, 2.31, 2.46, 2.8, 2.7],
 ['2009-11-04', '2009-11-03', 2.37, 2.53, 2.55, 2.6, 2.72, 2.62],
 ['2009-12-16',
  '2009-12-15',
  2.91,
  2.76,
  2.71,
  2.72,
  2.81,
  2.75,
  2.96,
  1.9,
  2.2],
 ['2010-01-27', '2010-01-26', 2.81, 2.8, 2.75, 2.89, 2.93, 2.94],
 ['2010-03-16', '2010-03-15', 2.87, 2.85, 2.77, 2.91, 2.98, 3.14, 3.23, 3.7],
 ['2010-04-28', '2010-04-27', 2.96, 2.74, 2.84, 2.86, 2.97, 3.11, 3.85],
 ['2010-06-23', '2010-06-22', 3.39, 2.84, 2.83, 2.77, 3.02, 3.15, 3.16],
 ['2010-08-10', '2010-08-09', 2.65, 2.77, 2.74, 2.97, 3.07, 3.12],
 ['2010-09-21', '2010-09-20', 1.82, 2.33, 2.5, 2.78, 2.97, 3.12, 2.98],
 ['2010-11-03', '2010-11-02', 2.16, 2.36, 2.57, 2.86, 3.04, 2.93],
 ['2010-12-14',
  '2010-12-13',
  2.38,
  2.5,
  2.67,
  2.95,
  3.18,
  3.14,
  3.28,
  2.9,
  2.8],
 ['2011-01-26', '2011-01-25', 3.21, 3.16, 3.23, 3.36, 2.99, 3.12],
 ['2011-03-15', '2011-03-14', 3.32, 3.3, 3.31, 3.39, 3.03, 3.13, 3.16, 2.9],
 ['2011-04-27', '2011-04-26', 3.19, 3.32, 3.4, 2.96, 3.07, 3.18, 3.3, 3.4],
 ['2011-06-22', '2011-06-21', 2.32, 3.12, 3.24, 2.89, 3.07, 3.18, 3.27],
 ['2011-08-09', '2011-08-08', 3.08, 3.16, 2.77, 2.95, 3.06, 3.19],
 ['2011-09-21', '2011-09-20', 1.77, 2.06, 2.06, 2.4, 2.55, 2.66, 2.52],
 ['2011-11-02', '2011-11-01', 2.0, 1.94, 2.2, 2.43, 2.56, 2.54],
 ['2011-12-13', '2011-12-12', 2.61, 1.9, 2.12, 2.35, 2.53, 2.48, 2.73],
 ['2012-01-25', '2012-01-24', 2.0, 2.15, 2.34, 2.54, 2.42, 2.66],
 ['2012-03-13', '2012-03-12', 2.15, 2.2, 2.42, 2.56, 2.42, 2.64, 2.87],
 ['2012-04-25', '2012-04-24', 2.32, 2.55, 2.61, 2.32, 2.58, 2.87],
 ['2012-06-20', '2012-06-19', 2.15, 2.33, 2.42, 2.08, 2.45, 2.76, 2.84],
 ['2012-08-01', '2012-07-31', 2.18, 2.32, 2.01, 2.37, 2.71, 2.8],
 ['2012-09-13', '2012-09-12', 1.82, 2.12, 1.96, 2.36, 2.72, 2.86, 2.94],
 ['2012-10-24', '2012-10-23', 1.92, 1.83, 2.27, 2.6, 2.8, 2.9],
 ['2012-12-12', '2012-12-11', 1.68, 1.71, 2.19, 2.56, 2.75, 2.74, 2.84],
 ['2013-01-30', '2013-01-29', 1.58, 2.11, 2.55, 2.74, 2.73, 2.84, 2.9, 2.9],
 ['2013-03-20', '2013-03-19', 2.02, 1.85, 2.46, 2.73, 2.77, 2.89, 2.98, 2.8],
 ['2013-05-01', '2013-04-30', 1.67, 2.36, 2.68, 2.77, 2.94, 3.01, 2.8],
 ['2013-06-19', '2013-06-18', 1.72, 2.31, 2.63, 2.72, 2.91, 2.98, 3.02],
 ['2013-07-31', '2013-07-30', 2.32, 2.65, 2.76, 2.88, 3.01, 3.08],
 ['2013-09-18', '2013-09-17', 2.04, 2.55, 2.68, 2.81, 2.96, 3.09, 3.1],
 ['2013-10-30', '2013-10-29', 2.35, 2.68, 2.78, 2.87, 2.94, 2.98],
 ['2013-12-18', '2013-12-17', 1.7, 2.63, 2.77, 2.92, 3.03, 2.97, 2.96],
 ['2014-01-29', '2014-01-28', 2.47, 2.7, 2.88, 2.97, 2.91, 2.94],
 ['2014-03-19', '2014-03-18', 1.89, 2.85, 2.96, 3.07, 2.99, 3.02, 3.02],
 ['2014-04-30', '2014-04-29', 2.99, 2.98, 3.05, 2.95, 2.96, 2.97],
 ['2014-06-18', '2014-06-17', 3.57, 3.05, 3.1, 2.96, 2.97, 2.99, 3.01],
 ['2014-07-30', '2014-07-29', 3.12, 3.12, 2.91, 2.93, 2.94, 2.98],
 ['2014-09-17', '2014-09-16', 2.83, 2.98, 2.88, 2.89, 2.89, 2.91, 2.87],
 ['2014-10-29', '2014-10-28', 2.96, 2.87, 2.87, 2.87, 2.91, 2.9],
 ['2014-12-17', '2014-12-16', 2.54, 2.85, 2.86, 2.84, 2.83, 2.78, 2.81],
 ['2015-01-28', '2015-01-27', 2.82, 2.86, 2.88, 2.79, 2.74, 2.77],
 ['2015-03-18', '2015-03-17', 2.34, 3.01, 2.95, 2.87, 2.75, 2.79, 2.77],
 ['2015-04-29', '2015-04-28', 3.2, 3.03, 2.93, 2.72, 2.76, 2.75],
 ['2015-06-17', '2015-06-16', 2.57, 3.09, 2.97, 2.57, 2.7, 2.7, 2.66],
 ['2015-07-29', '2015-07-28', 3.06, 2.92, 2.65, 2.74, 2.76, 2.71],
 ['2015-09-17', '2015-09-16', 2.44, 2.75, 2.47, 2.7, 2.69, 2.6, 2.42],
 ['2015-10-28', '2015-10-27', 2.72, 2.44, 2.63, 2.57, 2.52, 2.32],
 ['2015-12-16', '2015-12-15', 2.29, 2.33, 2.65, 2.56, 2.51, 2.28, 2.37],
 ['2016-01-27', '2016-01-26', 2.33, 2.62, 2.53, 2.44, 2.19, 2.34],
 ['2016-03-16', '2016-03-15', 1.96, 2.33, 2.34, 2.32, 2.11, 2.21, 2.11],
 ['2016-04-27', '2016-04-26', 2.35, 2.39, 2.38, 2.2, 2.3, 2.18],
 ['2016-06-15', '2016-06-14', 2.35, 2.29, 2.29, 2.01, 2.28, 2.16, 2.08],
 ['2016-07-27', '2016-07-26', 2.19, 2.17, 2.0, 2.19, 2.1, 2.0],
 ['2016-09-21', '2016-09-20', 2.79, 2.31, 1.97, 2.13, 2.04, 1.96, 1.83],
 ['2016-11-02', '2016-11-01', 2.32, 1.98, 2.18, 2.09, 1.92, 1.81],
 ['2016-12-14', '2016-12-13', 2.21, 2.05, 2.19, 2.3, 2.3, 2.33, 2.34],
 ['2017-02-01', '2017-01-31', 2.14, 2.34, 2.42, 2.46, 2.42, 2.4],
 ['2017-03-15', '2017-03-14', 2.12, 2.35, 2.46, 2.45, 2.33, 2.42, 2.41],
 ['2017-05-03', '2017-05-02', 2.61, 2.4, 2.41, 2.24, 2.44, 2.37],
 ['2017-06-14', '2017-06-13', 2.89, 2.42, 2.37, 2.24, 2.46, 2.34, 2.22],
 ['2017-07-26', '2017-07-25', 2.49, 2.37, 2.2, 2.38, 2.29, 2.18],
 ['2017-09-20', '2017-09-19', 2.6, 2.46, 2.14, 2.36, 2.29, 2.12, 1.82],
 ['2017-11-01', '2017-10-31', 2.68, 2.18, 2.41, 2.26, 2.05, 1.79],
 ['2017-12-13', '2017-12-12', 2.67, 2.2, 2.47, 2.32, 2.16, 1.89, 2.08],
 ['2018-01-31', '2018-01-30', 2.5, 2.77, 2.62, 2.47, 2.23, 2.37],
 ['2018-03-21', '2018-03-20', 2.51, 3.05, 2.89, 2.7, 2.41, 2.41, 2.23],
 ['2018-05-02', '2018-05-01', 3.12, 2.93, 2.8, 2.46, 2.51, 2.28],
 ['2018-06-13', '2018-06-12', 3.36, 2.9, 2.76, 2.39, 2.42, 2.16, 1.93],
 ['2018-08-01', '2018-07-31', 2.84, 2.7, 2.32, 2.35, 2.05, 1.81],
 ['2018-09-26', '2018-09-25', 3.17, 2.76, 2.4, 2.42, 2.22, 1.95, 1.73],
 ['2018-11-08', '2018-11-07', 2.76, 2.38, 2.43, 2.18, 1.94, 1.72],
 ['2018-12-19', '2018-12-18', 2.58, 2.35, 2.44, 2.24, 2.02, 1.83, 1.83],
 ['2019-01-30', '2019-01-29', 2.19, 2.38, 2.13, 1.93, 1.74, 1.77, 1.23, 1.33],
 ['2019-03-20', '2019-03-19', 1.55, 2.62, 2.22, 2.03, 1.71, 1.71, 1.66, 1.0],
 ['2019-05-01', '2019-04-30', 2.54, 2.19, 2.0, 1.69, 1.71, 1.62, 1.3],
 ['2019-06-19', '2019-06-18', 1.8, 1.92, 1.83, 1.71, 1.72, 1.66, 1.71],
 ['2019-07-31', '2019-07-30', 1.89, 1.78, 1.71, 1.75, 1.67, 1.72],
 ['2019-09-18', '2019-09-17', 1.91, 1.72, 1.56, 1.63, 1.61, 1.61, 1.8],
 ['2019-10-11', '2019-10-10', 1.69, 1.55, 1.62, 1.61, 1.62, 1.8],
 ['2019-10-30', '2019-10-29', 1.67, 1.52, 1.63, 1.65, 1.65, 1.88],
 ['2019-12-11', '2019-12-10', 1.68, 1.66, 1.69, 1.73, 1.66, 1.87, 1.95, 2.07],
 ['2020-01-29', '2020-01-28', 1.58, 1.83, 1.78, 1.75, 1.83, 1.87, 1.93, 2.08],
 ['2020-03-03', '2020-03-02', 1.54, 1.9, 1.92, 1.9, 1.8, 1.91, 1.81, 2.08],
 ['2020-03-19', '2020-03-18', 1.25, 0.16, 1.38, 1.94, 2.28, 2.33, 2.21, 7.3],
 ['2020-03-23', '2020-03-20', 1.19, -0.78, 1.81, 2.01, 2.32, 2.35, 2.21, 7.3],
 ['2020-03-31', '2020-03-30', 0.35, -5.45, 3.75, 3.91, 2.95, 2.76, 2.47, 6.5],
 ['2020-04-29', '2020-04-28', -25.84, 11.23, 8.65, 5.5, 4.22, 3.38, 3.06],
 ['2020-06-10', '2020-06-09', -33.78, 16.31, 8.98, 5.98, 4.76, 3.91, 3.32],
 ['2020-07-29', '2020-07-28', 17.02, 6.82, 5.09, 4.24, 3.77, 3.34],
 ['2020-09-16', '2020-09-15', 23.54, 5.39, 4.22, 3.89, 3.62, 3.45, 2.98],
 ['2020-11-05', '2020-11-04', 4.18, 3.59, 3.66, 3.42, 3.36, 2.87],
 ['2020-12-16', '2020-12-15', 4.59, 2.22, 4.09, 3.93, 3.71, 2.98, 2.77],
 ['2021-01-27', '2021-01-26', 2.26, 4.79, 4.74, 3.96, 3.12, 2.9],
 ['2021-03-17', '2021-03-16', 4.51, 6.8, 6.5, 4.7, 3.33, 3.05, 2.56, 1.53],
 ['2021-04-28', '2021-04-27', 8.17, 6.96, 4.8, 3.59, 3.14, 2.66, 1.5],
 ['2021-06-16', '2021-06-15', 9.32, 6.95, 4.82, 3.6, 3.12, 2.64, 2.42],
 ['2021-07-28', '2021-07-27', 7.03, 5.05, 3.61, 3.09, 2.55, 2.34]]

In [7]:
after

[['2003-06-25', '2003-06-26', 1.36, 3.36, 3.16, 3.42, 3.66],
 ['2003-08-12', '2003-08-13', 3.73, 3.53, 3.69, 3.68, 3.7],
 ['2003-09-16', '2003-09-17', 4.45, 3.58, 3.48, 3.7, 3.59],
 ['2003-10-28', '2003-10-29', 3.89, 3.55, 4.09, 3.85],
 ['2003-12-09', '2003-12-10', 4.0, 3.96, 4.44, 3.8, 3.64],
 ['2004-01-28', '2004-01-29', 4.1, 4.52, 3.7, 3.6],
 ['2004-03-16', '2004-03-17', 4.61, 4.86, 4.2, 4.29, 3.56],
 ['2004-05-04', '2004-05-05', 5.03, 4.25, 4.4, 3.66, 3.54],
 ['2004-06-30', '2004-07-01', 4.17, 4.32, 3.86, 3.36],
 ['2004-08-10', '2004-08-11', 4.21, 4.21, 3.59, 3.61, 3.33],
 ['2004-09-21', '2004-09-22', 3.57, 4.23, 3.56, 3.41, 3.39],
 ['2004-11-10', '2004-11-11', 3.59, 3.12, 3.26, 3.38, 3.08],
 ['2004-12-14', '2004-12-15', 3.83, 3.11, 3.56, 3.63, 3.49],
 ['2005-02-02', '2005-02-03', 3.07, 3.53, 3.43, 3.41],
 ['2005-03-22', '2005-03-23', 4.21, 3.94, 3.66, 3.56, 3.48],
 ['2005-05-03', '2005-05-04', 3.79, 3.67, 3.4, 3.31],
 ['2005-06-30', '2005-07-01', 3.54, 3.36, 3.31, 3.36],
 ['2005-08-09', '2005-08-10', 4.44, 3.59, 3.3, 3.09, 3.1],
 ['2005-09-20', '2005-09-21', 4.02, 3.02, 3.62, 3.78, 3.36],
 ['2005-11-01', '2005-11-02', 3.16, 3.52, 3.33, 3.2],
 ['2005-12-13', '2005-12-14', 3.5, 3.66, 3.36, 3.19, 3.08],
 ['2006-01-31', '2006-02-01', 3.73, 3.36, 3.17, 3.21],
 ['2006-03-28', '2006-03-29', 4.8, 3.28, 3.08, 2.88, 2.96],
 ['2006-05-10', '2006-05-11', 3.29, 3.2, 2.95, 2.78, 2.86],
 ['2006-06-29', '2006-06-30', 2.82, 3.0, 2.83, 2.61, 2.62],
 ['2006-08-08', '2006-08-09', 3.09, 2.63, 2.45, 2.59],
 ['2006-09-20', '2006-09-21', 3.12, 2.67, 2.76, 2.3, 2.47],
 ['2006-10-25', '2006-10-26', 2.76, 2.49, 2.36, 2.29],
 ['2006-12-12', '2006-12-13', 1.97, 2.4, 2.45, 2.47, 2.55],
 ['2007-01-31', '2007-02-01', 2.5, 2.52, 2.54, 2.6],
 ['2007-03-21', '2007-03-22', 2.7, 2.53, 2.38, 2.42, 2.58],
 ['2007-05-09', '2007-05-10', 2.37, 2.25, 2.45, 2.58, 2.54],
 ['2007-06-28', '2007-06-29', 2.7, 2.39, 2.44, 2.43, 2.63],
 ['2007-08-07', '2007-08-08', 2.59, 2.61, 2.68, 2.61],
 ['2007-08-10', '2007-08-13', 2.37, 2.51, 2.51, 2.4, 2.59],
 ['2007-08-17', '2007-08-20', 2.31, 2.39, 2.4, 2.31, 2.59],
 ['2007-10-31', '2007-11-01', 1.27, 1.72, 2.05, 2.22, 2.34, 2.16, 2.32, 2.2],
 ['2007-12-11', '2007-12-12', 1.23, 1.55, 1.96, 2.4, 2.59, 2.62, 2.73, 2.48],
 ['2008-01-22', '2008-01-23', 1.25, 1.75, 2.18, 2.44, 2.73, 2.77, 2.8],
 ['2008-01-30', '2008-01-31', 1.23, 1.7, 2.13, 2.42, 2.6, 2.64, 2.66],
 ['2008-03-11', '2008-03-12', 0.18, 0.57, 2.08, 2.02, 2.11, 2.58, 2.74, 2.2],
 ['2008-03-18', '2008-03-19', 0.18, 0.55, 2.08, 2.01, 2.08, 2.53, 2.76, 2.2],
 ['2008-04-30', '2008-05-01', 0.19, 1.94, 1.78, 1.95, 2.31, 2.59, 2.33],
 ['2008-06-25', '2008-06-26', 0.39, 1.54, 1.06, 1.64, 2.08, 2.5, 2.6],
 ['2008-08-05', '2008-08-06', 1.31, 0.74, 1.43, 1.8, 2.45, 2.55],
 ['2008-09-16', '2008-09-17', 1.12, 0.5, 1.12, 1.93, 2.35, 2.03],
 ['2008-10-08', '2008-10-09', 0.05, 0.69, 1.56, 2.27, 1.78, 1.7, 2.0],
 ['2008-10-29', '2008-10-30', -0.1, 0.57, 1.54, 2.27, 1.9, 1.7, 2.0],
 ['2008-12-16', '2008-12-17', -3.82, -2.11, -0.3, 1.06, 1.8, 2.3, 2.5, 2.0],
 ['2009-01-28', '2009-01-29', -3.06, -0.63, 1.18, 1.96, 1.7, 1.75, 1.6, 1.9],
 ['2009-03-18', '2009-03-19', -4.92, -1.96, 0.39, 1.67, 2.9, 2.7, 3.0, 2.6],
 ['2009-04-29', '2009-04-30', -1.99, 0.12, 1.34, 0.4, 0.95, 1.65, 1.85],
 ['2009-06-24', '2009-06-25', -1.88, 0.59, 1.78, 1.98, 2.4, 2.6, 2.4],
 ['2009-08-12', '2009-08-13', 1.6, 1.92, 2.09, 2.55, 2.4, 2.7],
 ['2009-09-23', '2009-09-24', 2.87, 2.17, 2.31, 2.46, 2.8, 2.7],
 ['2009-11-04', '2009-11-05', 2.37, 2.53, 2.55, 2.6, 2.72, 2.62],
 ['2009-12-16',
  '2009-12-17',
  2.91,
  2.77,
  2.7,
  2.79,
  2.89,
  2.83,
  2.92,
  1.9,
  2.2],
 ['2010-01-27', '2010-01-28', 2.81, 2.8, 2.75, 2.89, 2.93, 2.94],
 ['2010-03-16', '2010-03-17', 2.87, 2.85, 2.77, 2.91, 2.98, 3.14, 3.23, 3.7],
 ['2010-04-28', '2010-04-29', 2.96, 2.74, 2.84, 2.86, 2.97, 3.11, 3.85],
 ['2010-06-23', '2010-06-24', 3.39, 2.84, 2.83, 2.77, 3.02, 3.15, 3.16],
 ['2010-08-10', '2010-08-11', 2.43, 2.67, 2.63, 2.84, 3.06, 3.18, 3.47],
 ['2010-09-21', '2010-09-22', 1.82, 2.33, 2.5, 2.78, 2.97, 3.12, 2.98],
 ['2010-11-03', '2010-11-04', 2.16, 2.36, 2.57, 2.86, 3.04, 2.93],
 ['2010-12-14',
  '2010-12-15',
  2.38,
  2.5,
  2.67,
  2.95,
  3.18,
  3.14,
  3.28,
  2.9,
  2.8],
 ['2011-01-26', '2011-01-27', 3.21, 3.16, 3.23, 3.36, 2.99, 3.12],
 ['2011-03-15', '2011-03-16', 3.32, 3.3, 3.31, 3.39, 3.03, 3.13, 3.21, 2.9],
 ['2011-04-27', '2011-04-28', 3.19, 3.32, 3.4, 2.96, 3.07, 3.18],
 ['2011-06-22', '2011-06-23', 2.32, 3.12, 3.24, 2.89, 3.07, 3.18, 3.27],
 ['2011-08-09', '2011-08-10', 3.06, 3.15, 2.76, 2.94, 3.06, 3.19],
 ['2011-09-21', '2011-09-22', 1.77, 2.06, 2.06, 2.4, 2.54, 2.66, 2.52],
 ['2011-11-02', '2011-11-03', 2.0, 1.94, 2.2, 2.43, 2.56, 2.54],
 ['2011-12-13', '2011-12-14', 2.61, 1.9, 2.12, 2.35, 2.53, 2.48, 2.73],
 ['2012-01-25', '2012-01-26', 2.0, 2.15, 2.34, 2.54, 2.42, 2.66],
 ['2012-03-13', '2012-03-14', 2.04, 2.24, 2.48, 2.57, 2.38, 2.59, 2.87],
 ['2012-04-25', '2012-04-26', 2.32, 2.54, 2.61, 2.32, 2.58, 2.87],
 ['2012-06-20', '2012-06-21', 2.15, 2.33, 2.42, 2.08, 2.45, 2.76, 2.84],
 ['2012-08-01', '2012-08-02', 2.18, 2.32, 2.01, 2.37, 2.71, 2.8],
 ['2012-09-13', '2012-09-14', 1.9, 2.07, 1.93, 2.35, 2.67, 2.81, 2.87],
 ['2012-10-24', '2012-10-25', 1.93, 1.84, 2.29, 2.6, 2.79, 2.9],
 ['2012-12-12', '2012-12-13', 1.37, 1.65, 2.1, 2.5, 2.75, 2.7, 2.82],
 ['2013-01-30', '2013-01-31', 1.58, 2.11, 2.55, 2.74, 2.73, 2.84, 2.9, 2.9],
 ['2013-03-20', '2013-03-21', 2.03, 1.85, 2.46, 2.73, 2.77, 2.89, 2.98, 2.8],
 ['2013-05-01', '2013-05-02', 1.67, 2.36, 2.68, 2.77, 2.94, 3.01, 2.8],
 ['2013-06-19', '2013-06-20', 1.73, 2.32, 2.63, 2.73, 2.92, 2.99, 3.03],
 ['2013-07-31', '2013-08-01', 2.32, 2.65, 2.76, 2.88, 3.01, 3.08],
 ['2013-09-18', '2013-09-19', 2.04, 2.55, 2.68, 2.81, 2.96, 3.09, 3.1],
 ['2013-10-30', '2013-10-31', 2.08, 2.64, 2.78, 2.87, 2.94, 2.98],
 ['2013-12-18', '2013-12-19', 1.7, 2.63, 2.77, 2.92, 3.03, 2.97, 2.96],
 ['2014-01-29', '2014-01-30', 2.47, 2.7, 2.88, 2.97, 2.91, 2.94],
 ['2014-03-19', '2014-03-20', 1.89, 2.85, 2.96, 3.07, 2.99, 3.02, 3.02],
 ['2014-04-30', '2014-05-01', 2.99, 2.98, 3.05, 2.95, 2.96, 2.97],
 ['2014-06-18', '2014-06-19', 3.57, 3.05, 3.1, 2.96, 2.97, 2.99, 3.01],
 ['2014-07-30', '2014-07-31', 3.12, 3.12, 2.91, 2.93, 2.94, 2.98],
 ['2014-09-17', '2014-09-18', 2.83, 2.98, 2.88, 2.89, 2.89, 2.91, 2.87],
 ['2014-10-29', '2014-10-30', 2.96, 2.88, 2.87, 2.87, 2.91, 2.9],
 ['2014-12-17', '2014-12-18', 2.54, 2.85, 2.86, 2.84, 2.83, 2.78, 2.81],
 ['2015-01-28', '2015-01-29', 2.82, 2.86, 2.88, 2.79, 2.74, 2.77],
 ['2015-03-18', '2015-03-19', 2.34, 3.01, 2.95, 2.87, 2.75, 2.79, 2.77],
 ['2015-04-29', '2015-04-30', 3.2, 3.03, 2.93, 2.72, 2.76, 2.75],
 ['2015-06-17', '2015-06-18', 2.56, 3.1, 2.97, 2.57, 2.7, 2.7, 2.66],
 ['2015-07-29', '2015-07-30', 3.05, 2.91, 2.65, 2.74, 2.76, 2.71],
 ['2015-09-17', '2015-09-18', 2.44, 2.75, 2.47, 2.7, 2.69, 2.6, 2.42],
 ['2015-10-28', '2015-10-29', 2.72, 2.44, 2.63, 2.57, 2.52, 2.32],
 ['2015-12-16', '2015-12-17', 2.29, 2.33, 2.65, 2.56, 2.51, 2.28, 2.37],
 ['2016-01-27', '2016-01-28', 2.33, 2.62, 2.53, 2.44, 2.19, 2.34],
 ['2016-03-16', '2016-03-17', 1.96, 2.33, 2.34, 2.32, 2.11, 2.21, 2.11],
 ['2016-04-27', '2016-04-28', 2.35, 2.39, 2.38, 2.2, 2.3, 2.18],
 ['2016-06-15', '2016-06-16', 2.36, 2.29, 2.29, 2.01, 2.28, 2.16, 2.08],
 ['2016-07-27', '2016-07-28', 2.19, 2.17, 2.0, 2.19, 2.1, 2.0],
 ['2016-09-21', '2016-09-22', 2.79, 2.3, 1.97, 2.12, 2.03, 1.95, 1.83],
 ['2016-11-02', '2016-11-03', 2.31, 1.98, 2.18, 2.09, 1.92, 1.81],
 ['2016-12-14', '2016-12-15', 2.2, 2.04, 2.19, 2.3, 2.31, 2.33, 2.34],
 ['2017-02-01', '2017-02-02', 2.15, 2.35, 2.42, 2.46, 2.42, 2.4],
 ['2017-03-15', '2017-03-16', 2.12, 2.35, 2.46, 2.45, 2.33, 2.42, 2.41],
 ['2017-05-03', '2017-05-04', 2.61, 2.4, 2.41, 2.24, 2.44, 2.37],
 ['2017-06-14', '2017-06-15', 2.89, 2.42, 2.37, 2.24, 2.46, 2.34, 2.22],
 ['2017-07-26', '2017-07-27', 2.49, 2.37, 2.2, 2.38, 2.29, 2.18],
 ['2017-09-20', '2017-09-21', 2.58, 2.48, 2.14, 2.37, 2.29, 2.12, 1.82],
 ['2017-11-01', '2017-11-02', 2.68, 2.18, 2.41, 2.26, 2.05, 1.79],
 ['2017-12-13', '2017-12-14', 2.64, 2.29, 2.62, 2.44, 2.25, 1.96, 2.13],
 ['2018-01-31', '2018-02-01', 2.5, 2.77, 2.62, 2.47, 2.23, 2.37],
 ['2018-03-21', '2018-03-22', 2.51, 3.05, 2.89, 2.7, 2.41, 2.41, 2.24],
 ['2018-05-02', '2018-05-03', 3.12, 2.93, 2.8, 2.46, 2.51, 2.28],
 ['2018-06-13', '2018-06-14', 3.36, 2.9, 2.76, 2.39, 2.42, 2.16, 1.93],
 ['2018-08-01', '2018-08-02', 2.84, 2.7, 2.32, 2.35, 2.05, 1.81],
 ['2018-09-26', '2018-09-27', 3.17, 2.76, 2.4, 2.42, 2.22, 1.95, 1.73],
 ['2018-11-08', '2018-11-09', 2.66, 2.41, 2.45, 2.19, 1.96, 1.72, 1.92],
 ['2018-12-19', '2018-12-20', 2.58, 2.35, 2.44, 2.24, 2.02, 1.83, 1.83],
 ['2019-01-30', '2019-01-31', 2.19, 2.38, 2.13, 1.93, 1.74, 1.77, 1.23, 1.33],
 ['2019-03-20', '2019-03-21', 1.55, 2.62, 2.22, 2.03, 1.71, 1.71, 1.66, 1.0],
 ['2019-05-01', '2019-05-02', 2.54, 2.19, 2.0, 1.69, 1.71, 1.62, 1.3],
 ['2019-06-19', '2019-06-20', 1.8, 1.92, 1.83, 1.71, 1.72, 1.66, 1.71],
 ['2019-07-31', '2019-08-01', 1.91, 1.78, 1.7, 1.75, 1.66, 1.72],
 ['2019-09-18', '2019-09-19', 1.91, 1.72, 1.56, 1.63, 1.61, 1.61, 1.8],
 ['2019-10-11', '2019-10-14', 1.68, 1.53, 1.64, 1.65, 1.63, 1.82],
 ['2019-10-30', '2019-10-31', 1.67, 1.52, 1.63, 1.65, 1.65, 1.88],
 ['2019-12-11', '2019-12-12', 1.68, 1.66, 1.69, 1.73, 1.66, 1.87, 1.95, 2.07],
 ['2020-01-29', '2020-01-30', 1.58, 1.83, 1.78, 1.75, 1.83, 1.87, 1.93, 2.08],
 ['2020-03-03', '2020-03-04', 1.52, 1.86, 1.92, 1.91, 1.8, 1.91, 1.81, 2.08],
 ['2020-03-19', '2020-03-20', 1.19, -0.78, 1.81, 2.01, 2.32, 2.35, 2.21, 7.3],
 ['2020-03-23', '2020-03-24', 1.0, -2.53, 2.0, 2.25, 2.47, 2.47, 2.33, 7.38],
 ['2020-03-31', '2020-04-01', -6.22, 4.07, 4.08, 2.63, 2.41, 2.12, 2.67],
 ['2020-04-29', '2020-04-30', -26.41, 11.47, 8.69, 5.51, 4.32, 3.44, 3.06],
 ['2020-06-10', '2020-06-11', -33.76, 16.31, 8.97, 5.98, 4.76, 3.91, 3.32],
 ['2020-07-29', '2020-07-30', 17.03, 6.82, 5.09, 4.24, 3.77, 3.34],
 ['2020-09-16', '2020-09-17', 23.68, 5.44, 4.24, 3.91, 3.66, 3.49, 2.98],
 ['2020-11-05', '2020-11-06', 4.2, 3.58, 3.62, 3.4, 3.38, 2.87],
 ['2020-12-16', '2020-12-17', 4.59, 2.22, 4.09, 3.93, 3.71, 2.98, 2.77],
 ['2021-01-27', '2021-01-28', 2.26, 4.79, 4.74, 3.96, 3.12, 2.9],
 ['2021-03-17', '2021-03-18', 4.54, 6.85, 6.53, 4.7, 3.34, 3.06, 2.56, 1.53],
 ['2021-04-28', '2021-04-29', 8.12, 6.92, 4.79, 3.59, 3.14, 2.66, 1.5],
 ['2021-06-16', '2021-06-17', 9.29, 6.98, 4.82, 3.6, 3.12, 2.64, 2.42],
 ['2021-07-28', '2021-07-29', 7.03, 5.05, 3.61, 3.09, 2.55, 2.34]]

In [8]:
dataset = pd.DataFrame(before)  
dataset1 = pd.DataFrame(after) #creating two dataframes for before and after forecasts

In [9]:
dataset

,0,1,2,3,4,5,6,7,8,9,10
0,2003-06-25,2003-06-24,1.36,3.36,3.16,3.42,3.66,NaN,NaN,NaN,NaN
1,2003-08-12,2003-08-11,3.73,3.53,3.69,3.68,3.70,NaN,NaN,NaN,NaN
2,2003-09-16,2003-09-15,4.45,3.58,3.48,3.70,3.59,NaN,NaN,NaN,NaN
3,2003-10-28,2003-10-27,3.89,3.55,4.09,3.85,NaN,NaN,NaN,NaN,NaN
4,2003-12-09,2003-12-08,4.00,3.96,4.44,3.80,3.64,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
149,2021-01-27,2021-01-26,2.26,4.79,4.74,3.96,3.12,2.90,NaN,NaN,NaN
150,2021-03-17,2021-03-16,4.51,6.80,6.50,4.70,3.33,3.05,2.56,1.53,NaN
151,2021-04-28,2021-04-27,8.17,6.96,4.80,3.59,3.14,2.66,1.50,NaN,NaN
152,2021-06-16,2021-06-15,9.32,6.95,4.82,3.60,3.12,2.64,2.42,NaN,NaN
153,2021-07-28,2021-07-27,7.03,5.05,3.61,3.09,2.55,2.34,NaN,NaN,NaN

In [10]:
dataset1

,0,1,2,3,4,5,6,7,8,9,10
0,2003-06-25,2003-06-26,1.36,3.36,3.16,3.42,3.66,NaN,NaN,NaN,NaN
1,2003-08-12,2003-08-13,3.73,3.53,3.69,3.68,3.70,NaN,NaN,NaN,NaN
2,2003-09-16,2003-09-17,4.45,3.58,3.48,3.70,3.59,NaN,NaN,NaN,NaN
3,2003-10-28,2003-10-29,3.89,3.55,4.09,3.85,NaN,NaN,NaN,NaN,NaN
4,2003-12-09,2003-12-10,4.00,3.96,4.44,3.80,3.64,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
149,2021-01-27,2021-01-28,2.26,4.79,4.74,3.96,3.12,2.90,NaN,NaN,NaN
150,2021-03-17,2021-03-18,4.54,6.85,6.53,4.70,3.34,3.06,2.56,1.53,NaN
151,2021-04-28,2021-04-29,8.12,6.92,4.79,3.59,3.14,2.66,1.50,NaN,NaN
152,2021-06-16,2021-06-17,9.29,6.98,4.82,3.60,3.12,2.64,2.42,NaN,NaN
153,2021-07-28,2021-07-29,7.03,5.05,3.61,3.09,2.55,2.34,NaN,NaN,NaN

In [11]:
dataset1.drop(columns=0, inplace= True) #dropping the repeated column
dataset_final = pd.concat([dataset, dataset1], ignore_index= True,axis = 1) #concating the two datasets
dataset_final.rename(columns= {0:'fomc_date', 1 : 'prev_day_date', 2 : 'gdp_left0', 3:'gdp_left1', 4:'gdp_left2', 5:'gdp_left3', 6:'gdp_left4', 7: 'gdp_left5', 8: 'gdp_left6', 9:'gdp_left7', 10: 'gdp_left8', 11:'next_date', 12:'gdp_right0', 13:'gdp_right1', 14: 'gdp_right2', 15: 'gdp_right3', 16:'gdp_right4', 17:'gdp_right5', 18:'gdp_right6', 19:'gdp_right7', 20:'gdp_right8'}, inplace = True)#renaming the columns
dataset_final.to_csv(r'C:\Users\samas\Downloads\forecasts_avg_gdp_adj.csv') #saving the dataset as a csv file, replace the path