In [87]:
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\magics\pylab.py:160: UserWarning: pylab import has clobbered these variables: ['mean', 'median', 'diff']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [88]:
df = pd.read_excel(r"C:\Users\samas\Downloads\ECGDUSq4.xlsx")

In [89]:
df1 = pd.read_csv(r"C:\Users\samas\OneDrive\Desktop\spf.csv")

In [90]:
df1['cqtr'] =  4

In [91]:
df1['cyr'] = pd.to_datetime(df1.Deadline).dt.year
df1['cyr'] = df1['cyr'] + 1

In [92]:
df1['cyr'] = df1['cyr'].astype(str).str[-2:]

In [93]:
df1.cqtr = df1.cqtr.astype(str)

In [94]:
df1['forecast'] = 'Q' + df1['cqtr'] + df1['cyr']

In [95]:
df1

      Deadline    str_date cqtr cyr forecast
0   02-12-2002  02-12-2002    4  03     Q403
1   05-13-2002  05-13-2002    4  03     Q403
2   08-14-2002  08-14-2002    4  03     Q403
3   11-13-2002  11-13-2002    4  03     Q403
4   02-14-2003  02-14-2003    4  04     Q404
..         ...         ...  ...  ..      ...
75  11-10-2020  11-10-2020    4  21     Q421
76  02-09-2021  02-09-2021    4  22     Q422
77  05-12-2021  05-12-2021    4  22     Q422
78  08-10-2021  08-10-2021    4  22     Q422
79  11-09-2021  11-09-2021    4  22     Q422

[80 rows x 5 columns]

In [96]:
df1['quarter'] = pd.to_datetime(df1['Deadline']).dt.quarter

In [97]:
df1 = df1[df1['quarter']==4]

In [98]:
df1.reset_index(inplace = True)

In [99]:
df1

    index    Deadline    str_date cqtr cyr forecast  quarter
0       3  11-13-2002  11-13-2002    4  03     Q403        4
1       7  11-14-2003  11-14-2003    4  04     Q404        4
2      11  11-13-2004  11-13-2004    4  05     Q405        4
3      15  11-08-2005  11-08-2005    4  06     Q406        4
4      19  11-08-2006  11-08-2006    4  07     Q407        4
5      23  11-07-2007  11-07-2007    4  08     Q408        4
6      27  11-10-2008  11-10-2008    4  09     Q409        4
7      31  11-10-2009  11-10-2009    4  10     Q410        4
8      35  11-09-2010  11-09-2010    4  11     Q411        4
9      39  11-08-2011  11-08-2011    4  12     Q412        4
10     43  11-06-2012  11-06-2012    4  13     Q413        4
11     47  11-18-2013  11-18-2013    4  14     Q414        4
12     51  11-10-2014  11-10-2014    4  15     Q415        4
13     55  11-10-2015  11-10-2015    4  16     Q416        4
14     59  11-08-2016  11-08-2016    4  17     Q417        4
15     63  11-07-2017  11-07-2017    4  18     Q418        4
16     67  11-06-2018  11-06-2018    4  19     Q419        4
17     71  11-11-2019  11-11-2019    4  20     Q420        4
18     75  11-10-2020  11-10-2020    4  21     Q421        4
19     79  11-09-2021  11-09-2021    4  22     Q422        4

In [100]:
df['cqtr'] =  pd.to_datetime(df.Date).dt.quarter

In [101]:
df['str_date'] = df['Date'].astype(str)

In [102]:
df[(df['Date'].dt.year == 2005) & (df['forecast'] == 'Q106')& (df['Date'] < '2005-02-09')]

Empty DataFrame
Columns: [Unnamed: 0, Date, Value, forecast, forecaster, cqtr, str_date]
Index: []

In [103]:
import statistics
new_data = []
dead_lines = []
qtr = []
elems = []
ninds = []
avg_days_diff = []
for idx, row in df1.iterrows():
    ld = pd.date_range(end = row['str_date'] , periods= 30, closed = 'left')
    ld = list(ld.sort_values(ascending = False).astype(str))
    dist = []
    forecast = []
    inds = []
    days_diff = []
    for i in ld:
        for idx1, row1 in df.iterrows():
            a = row1['str_date']
            if i == a and row['forecast'] == row1['forecast']:
                b = row1['Value']
                dist.append(b)
                c = row1['forecast']
                forecast.append(c)
                d = row1['forecaster']
                inds.append(d)
                d1 = pd.to_datetime(row['str_date'])
                d2 = row1['Date']
                diff = d1 - d2
                days_diff.append(diff.days)
            else:
                pass
    if len(dist) > 3:
        avg_days_diff.append(numpy.mean(days_diff))
        ninds.append(len(inds))
        forecast = set(forecast)
        qtr.append(forecast)
        dead_lines.append(row['str_date'])
        mean = numpy.mean(dist)
        median = statistics.median(dist)
        per_25 = numpy.percentile(dist, 25)
        per_75 = numpy.percentile(dist, 75)
        per_60 = numpy.percentile(dist, 60)
        per_90 = numpy.percentile(dist, 90)
        per_10 = numpy.percentile(dist, 10)
        per_40 = numpy.percentile(dist, 40)
        elems.append(dist)
        stats = [mean] + [median] + [per_25] + [per_75] + [per_60] + [per_90] + [per_10] + [per_40]
        new_data.append(stats)
    else:
        pass

In [104]:
len(new_data)

15

In [105]:
new_df = pd.DataFrame(new_data)

In [106]:
new_df.rename(columns = {0:'Mean', 1:'Median',2:'25th_percentile',3:'75th_percentile',4:'60th_percentile',5:'90th_percentile',6:'10th_percentile',7:'40th_percentile'}, inplace = True)
new_df['forecast'] = qtr
new_df['SPF_deadlines'] = dead_lines
new_df['no_of_forecasters'] = ninds
new_df['avg_days_diff'] = avg_days_diff

In [107]:
new_df

,Mean,Median,25th_percentile,75th_percentile,60th_percentile,90th_percentile,10th_percentile,40th_percentile,forecast,SPF_deadlines,no_of_forecasters,avg_days_diff
0,3.685714,3.600,3.250,4.3500,3.96,4.700,2.60,3.540,{Q404},11-14-2003,7,10.000000
1,3.157143,3.200,3.000,3.4000,3.26,3.500,2.84,3.080,{Q405},11-13-2004,7,4.000000
2,2.614286,2.500,2.500,2.6500,2.56,2.820,2.50,2.500,{Q408},11-07-2007,7,14.142857
3,3.015385,3.000,2.425,3.4750,3.00,4.100,1.95,2.900,{Q411},11-09-2010,26,27.000000
4,2.435484,2.400,1.850,2.7500,2.50,3.600,1.70,2.300,{Q412},11-08-2011,31,26.387097
5,2.740476,2.550,2.400,3.0000,2.80,3.690,2.01,2.500,{Q413},11-06-2012,42,24.642857
6,2.985294,3.000,2.625,3.2000,3.00,3.500,2.40,2.820,{Q414},11-18-2013,34,4.823529
7,2.727273,2.500,2.500,3.0000,3.00,3.000,2.50,2.500,{Q415},11-10-2014,11,12.636364
8,2.520000,2.500,2.500,2.5000,2.50,2.560,2.50,2.500,{Q416},11-10-2015,5,16.400000
9,1.887500,2.000,1.700,2.1000,2.10,2.500,1.50,2.000,{Q417},11-08-2016,48,23.208333
10,2.000000,2.000,1.915,2.2375,2.04,2.510,1.59,2.000,{Q418},11-07-2017,40,23.775000
11,1.864310,1.985,1.500,2.4750,2.12,2.558,1.30,1.808,{Q419},11-06-2018,58,22.827586
12,1.564583,1.700,1.375,2.0000,1.90,2.100,0.30,1.600,{Q420},11-11-2019,48,6.458333
13,2.935294,2.500,2.500,3.5000,2.70,4.680,1.50,2.500,{Q421},11-10-2020,17,16.588235
14,2.452941,2.500,2.100,2.6250,2.50,3.130,1.87,2.380,{Q422},11-09-2021,68,22.764706

In [21]:
new_df['avg_days_diff'].mean()

20.563962425250946

In [108]:
new_df.to_csv(r"C:\Users\samas\Downloads\Quarter_4_forecasts.csv")

In [30]:
len(df['forecaster'].unique())

80

In [154]:
inds

['DB',
 'GS',
 'NTE',
 'SCI',
 'SG',
 'SWR',
 'ML',
 'LB',
 'ABN',
 'DB',
 'GS',
 'JPM',
 'SCI',
 'SG',
 'SWR',
 'ML',
 'ABN',
 'GS',
 'JPM',
 'MS',
 'NTE',
 'SWR',
 'ML',
 'ABN',
 'DB',
 'JPM',
 'NTE',
 'SCI',
 'SWR',
 'ABN',
 'DB',
 'JPM',
 'NTE',
 'SCI',
 'SG',
 'SWR',
 'LB',
 'GS',
 'JPM',
 'NTE',
 'SG',
 'SWR',
 'ML',
 'ABN',
 'GS',
 'NTE',
 'SCI',
 'SG',
 'SWR',
 'LB',
 'ABN',
 'DB',
 'GS',
 'JPM',
 'SG',
 'SWR',
 'LB',
 'ABN',
 'DB',
 'GS',
 'JPM',
 'MS',
 'SG',
 'SWR',
 'ML',
 'DB',
 'FTA',
 'GS',
 'JPM',
 'MS',
 'NTE',
 'SWR',
 'ML',
 'LB',
 'UCM',
 'SCB',
 'JPM',
 'SCB',
 'CB',
 'JBC',
 'DEK',
 'JBC',
 'DEK',
 'DEK',
 'JPM',
 'JPM',
 'DEK',
 'JPM',
 'JPM',
 'JPM',
 'JPM',
 'JPM',
 'WF',
 'MS',
 'JPM',
 'WF',
 'JPM',
 'MS',
 'JPM',
 'JPM',
 'JPM',
 'MS',
 'JPM',
 'NBF',
 'PPS',
 'BM',
 'BOA',
 'BTW',
 'BAR',
 'CIB',
 'CIT',
 'COM',
 'CB',
 'CAG',
 'CSU',
 'DES',
 'DB',
 'FTA',
 'GSU',
 'HLA',
 'HSB',
 'IG',
 'JPM',
 'MFA',
 'MEC',
 'MS',
 'NEA',
 'NS',
 'NRD',
 'OXE',
 'RJF',
 'RF',
 'SG',
 'SCB',
 'UTE',
 'VS',
 'WF',
 'JPM',
 'JPM',
 'PPS',
 'BM',
 'BOA',
 'BTW',
 'BAR',
 'CIB',
 'CE',
 'CIT',
 'COM',
 'CB',
 'CAG',
 'CSU',
 'DES',
 'DB',
 'FTA',
 'GSU',
 'GS',
 'HLA',
 'IG',
 'JPM',
 'MEC',
 'MS',
 'MBA',
 'NEA',
 'NBF',
 'NTE',
 'NS',
 'NRD',
 'OXE',
 'RJF',
 'RF',
 'SMN',
 'SG',
 'SCB',
 'UBS',
 'WF',
 'CE',
 'JPM',
 'MS',
 'BAR',
 'JPM',
 'PPS',
 'BM',
 'BTW',
 'BAR',
 'BGB',
 'CIB',
 'CB',
 'CSU',
 'DES',
 'DB',
 'FTA',
 'GSU',
 'GS',
 'HLA',
 'JPM',
 'MFA',
 'MEC',
 'MS',
 'MBA',
 'NEA',
 'NBF',
 'NFI',
 'NS',
 'NRD',
 'OXE',
 'RJF',
 'RF',
 'SG',
 'SCB',
 'UMB',
 'UTE',
 'VS',
 'WF',
 'BAR',
 'JPM',
 'MS',
 'JPM',
 'JPM',
 'UCM',
 'MS',
 'BAR',
 'JPM',
 'WF',
 'UCM',
 'MS',
 'BAR',
 'JPM',
 'WF',
 'UCM',
 'UCM',
 'UCM',
 'UCM',
 'UCM',
 'UCM',
 'BAR',
 'UCM',
 'BAR',
 'UCM',
 'DB',
 'UCM',
 'UCM',
 'UCM',
 'MS',
 'UCM',
 'BAR',
 'JPM',
 'CSU',
 'BAR',
 'JPM',
 'UCM',
 'JPM',
 'UCM',
 'CSU',
 'BAR',
 'JPM',
 'UCM',
 'CSU',
 'UCM',
 'BIE',
 'UCM',
 'UCM',
 'UCM',
 'CSU',
 'BAR',
 'CSU',
 'BAR',
 'UCM',
 'CSU',
 'BAR',
 'UCM',
 'CSU',
 'UCM',
 'CSU',
 'BGB',
 'UCM',
 'UBS',
 'UCM',
 'CIT',
 'MS',
 'JPM',
 'UBS',
 'UCM',
 'BAR',
 'BGB',
 'JPM',
 'JBC',
 'UCM',
 'BAR',
 'BGB',
 'JPM',
 'UBS',
 'UCM',
 'BGB',
 'UCM',
 'JBC',
 'BGB',
 'UCM',
 'UBS',
 'BGB',
 'UCM',
 'BGB',
 'UBS',
 'UCM',
 'BAR',
 'JPM',
 'UBS',
 'AXA',
 'BGB',
 'BAR',
 'BGB',
 'JPM',
 'UBS',
 'DB',
 'AXA',
 'PPS',
 'BOA',
 'BAR',
 'BGB',
 'BIE',
 'CIB',
 'CE',
 'CIT',
 'RGF',
 'DAI',
 'DES',
 'DB',
 'FNM',
 'FTA',
 'GSU',
 'GS',
 'GUE',
 'JPM',
 'JBC',
 'KPM',
 'KSU',
 'MFA',
 'NEA',
 'NBF',
 'NFI',
 'NS',
 'PNC',
 'RJF',
 'SMN',
 'SWR',
 'UBS',
 'UMB',
 'UCM',
 'UTE',
 'VS',
 'VSA',
 'WF',
 'BAR',
 'BGB',
 'JPM',
 'UBS',
 'UCM',
 'BGB',
 'UBS',
 'UCM',
 'BGB',
 'UBS',
 'UCM',
 'JPM',
 'UBS',
 'UCM',
 'BGB',
 'JPM',
 'UBS',
 'UCM',
 'BIE',
 'BAR',
 'JPM',
 'UBS',
 'BAR',
 'JPM',
 'UBS',
 'BAR',
 'BGB',
 'JPM',
 'UBS',
 'BAR',
 'BGB',
 'JPM',
 'JBC',
 'BGB',
 'UBS',
 'UBS',
 'BAR',
 'BGB',
 'JPM',
 'UBS',
 'BAR',
 'BGB',
 'JPM',
 'JBC',
 'UBS',
 'BAR',
 'BGB',
 'JPM',
 'UBS',
 'JBC',
 'BAR',
 'BGB',
 'JPM',
 'UBS',
 'BAR',
 'JPM',
 'BGB',
 'NS',
 'JBC',
 'BAR',
 'BGB',
 'JPM',
 'UBS']

In [47]:
new_df['Deadline'] = dead_lines

In [54]:
new_df.rename( columns = {0:'rn', 1:'Date', 2: 'Value', 3:'forecast', 4:'forecaster', 5:'str_date', 'Deadline':'SPF_deadline'}, inplace = True)

In [55]:
new_df

     rn       Date  Value forecast forecaster    str_date SPF_deadline
0    15 2003-05-08    3.8     Q104         DB  2003-05-08   05-12-2003
1    17 2003-05-08    2.0     Q104         GS  2003-05-08   05-12-2003
2    13 2003-05-08    3.7     Q104        NTE  2003-05-08   05-12-2003
3    13 2003-05-08    3.2     Q104        SCI  2003-05-08   05-12-2003
4    12 2003-05-08    3.6     Q104         SG  2003-05-08   05-12-2003
..   ..        ...    ...      ...        ...         ...          ...
646   8 2021-11-02    4.2     Q122        JBC  2021-11-02   11-09-2021
647   9 2021-10-29    4.5     Q122        BAR  2021-10-29   11-09-2021
648   9 2021-10-29    3.8     Q122        BGB  2021-10-29   11-09-2021
649   9 2021-10-29    3.5     Q122        JPM  2021-10-29   11-09-2021
650   7 2021-10-29    6.5     Q122        UBS  2021-10-29   11-09-2021

[651 rows x 7 columns]

In [82]:
date_qtr = df[['str_date','forecast']].apply(tuple, axis = 1).to_list()

In [83]:
date_qtr = set(date_qtr)

In [84]:
date_qtr

{('2018-11-30', 'Q118'),
 ('2017-10-12', 'Q117'),
 ('2011-03-11', 'Q111'),
 ('2013-12-10', 'Q114'),
 ('2016-05-12', 'Q117'),
 ('2017-04-13', 'Q118'),
 ('2017-06-29', 'Q118'),
 ('2020-01-31', 'Q121'),
 ('2007-10-24', 'Q108'),
 ('2021-03-05', 'Q120'),
 ('2015-03-12', 'Q116'),
 ('2019-07-19', 'Q119'),
 ('2015-04-09', 'Q115'),
 ('2016-02-08', 'Q116'),
 ('2017-07-28', 'Q117'),
 ('2005-05-09', 'Q106'),
 ('2021-04-29', 'Q121'),
 ('2016-06-17', 'Q117'),
 ('2015-01-16', 'Q115'),
 ('2015-07-30', 'Q116'),
 ('2016-02-26', 'Q117'),
 ('2010-11-15', 'Q110'),
 ('2016-07-22', 'Q117'),
 ('2018-03-16', 'Q118'),
 ('2018-11-23', 'Q118'),
 ('2016-04-29', 'Q116'),
 ('2016-09-09', 'Q117'),
 ('2016-09-08', 'Q118'),
 ('2015-07-31', 'Q115'),
 ('2015-10-08', 'Q117'),
 ('2021-04-13', 'Q121'),
 ('2012-08-09', 'Q114'),
 ('2008-03-10', 'Q109'),
 ('2021-04-09', 'Q121'),
 ('2017-03-09', 'Q118'),
 ('2021-11-12', 'Q122'),
 ('2019-05-06', 'Q120'),
 ('2019-10-25', 'Q119'),
 ('2021-04-09', 'Q122'),
 ('2017-01-17', 'Q117'),
 ('2018-07-27', 'Q118'),
 ('2019-11-15', 'Q120'),
 ('2016-03-18', 'Q117'),
 ('2019-04-11', 'Q120'),
 ('2015-05-29', 'Q115'),
 ('2020-03-26', 'Q121'),
 ('2018-04-24', 'Q119'),
 ('2009-09-04', 'Q110'),
 ('2008-09-29', 'Q108'),
 ('2017-03-22', 'Q118'),
 ('2017-06-15', 'Q117'),
 ('2018-11-08', 'Q119'),
 ('2019-11-28', 'Q121'),
 ('2006-01-10', 'Q106'),
 ('2021-07-16', 'Q122'),
 ('2017-12-04', 'Q119'),
 ('2021-04-09', 'Q120'),
 ('2020-09-24', 'Q122'),
 ('2020-08-20', 'Q121'),
 ('2018-11-02', 'Q119'),
 ('2020-03-23', 'Q120'),
 ('2013-06-19', 'Q113'),
 ('2013-02-22', 'Q113'),
 ('2013-08-07', 'Q113'),
 ('2020-11-17', 'Q121'),
 ('2011-05-11', 'Q112'),
 ('2015-07-16', 'Q116'),
 ('2019-05-06', 'Q119'),
 ('2015-09-11', 'Q117'),
 ('2020-09-01', 'Q121'),
 ('2014-04-11', 'Q115'),
 ('2008-03-27', 'Q108'),
 ('2019-11-21', 'Q120'),
 ('2016-08-19', 'Q117'),
 ('2017-04-20', 'Q118'),
 ('2011-10-12', 'Q112'),
 ('2017-12-07', 'Q118'),
 ('2007-10-03', 'Q108'),
 ('2013-06-19', 'Q114'),
 ('2010-04-05', 'Q110'),
 ('2013-05-23', 'Q114'),
 ('2016-12-15', 'Q117'),
 ('2021-08-11', 'Q122'),
 ('2021-01-15', 'Q121'),
 ('2020-04-07', 'Q120'),
 ('2005-01-10', 'Q105'),
 ('2021-10-20', 'Q122'),
 ('2020-03-06', 'Q120'),
 ('2020-06-17', 'Q121'),
 ('2019-04-18', 'Q120'),
 ('2016-11-18', 'Q117'),
 ('2019-10-17', 'Q120'),
 ('2021-03-12', 'Q121'),
 ('2015-09-17', 'Q116'),
 ('2021-01-15', 'Q122'),
 ('2019-07-23', 'Q120'),
 ('2010-12-08', 'Q111'),
 ('2012-11-15', 'Q114'),
 ('2020-05-22', 'Q120'),
 ('2013-09-13', 'Q114'),
 ('2019-05-08', 'Q119'),
 ('2009-01-12', 'Q110'),
 ('2013-04-17', 'Q114'),
 ('2013-10-30', 'Q114'),
 ('2020-11-13', 'Q120'),
 ('2012-09-13', 'Q114'),
 ('2018-05-25', 'Q119'),
 ('2020-01-15', 'Q121'),
 ('2018-01-23', 'Q119'),
 ('2015-10-21', 'Q117'),
 ('2017-09-14', 'Q118'),
 ('2015-11-20', 'Q116'),
 ('2019-11-22', 'Q119'),
 ('2011-01-13', 'Q111'),
 ('2012-03-14', 'Q112'),
 ('2015-01-15', 'Q116'),
 ('2011-03-08', 'Q112'),
 ('2014-02-21', 'Q114'),
 ('2010-06-01', 'Q110'),
 ('2014-07-31', 'Q115'),
 ('2018-08-10', 'Q119'),
 ('2008-07-29', 'Q109'),
 ('2007-12-07', 'Q109'),
 ('2020-04-14', 'Q121'),
 ('2019-01-23', 'Q119'),
 ('2017-03-16', 'Q118'),
 ('2016-12-13', 'Q118'),
 ('2020-03-19', 'Q120'),
 ('2018-10-02', 'Q120'),
 ('2010-11-22', 'Q110'),
 ('2011-06-06', 'Q112'),
 ('2014-06-26', 'Q114'),
 ('2019-05-10', 'Q120'),
 ('2015-06-03', 'Q116'),
 ('2008-03-12', 'Q109'),
 ('2016-01-28', 'Q117'),
 ('2021-06-11', 'Q122'),
 ('2015-11-12', 'Q116'),
 ('2020-03-25', 'Q120'),
 ('2011-08-10', 'Q111'),
 ('2021-06-17', 'Q122'),
 ('2015-04-22', 'Q115'),
 ('2016-07-08', 'Q117'),
 ('2015-09-10', 'Q117'),
 ('2016-04-22', 'Q117'),
 ('2019-07-08', 'Q120'),
 ('2014-07-03', 'Q114'),
 ('2015-05-22', 'Q115'),
 ('2011-02-07', 'Q112'),
 ('2017-04-28', 'Q117'),
 ('2020-06-19', 'Q122'),
 ('2013-04-12', 'Q114'),
 ('2011-05-23', 'Q111'),
 ('2014-10-16', 'Q115'),
 ('2016-12-12', 'Q117'),
 ('2015-04-17', 'Q115'),
 ('2019-02-13', 'Q120'),
 ('2007-10-10', 'Q109'),
 ('2020-06-19', 'Q121'),
 ('2013-05-03', 'Q113'),
 ('2019-03-01', 'Q119'),
 ('2016-01-07', 'Q116'),
 ('2020-04-06', 'Q120'),
 ('2020-01-24', 'Q120'),
 ('2013-10-11', 'Q114'),
 ('2008-03-11', 'Q109'),
 ('2016-12-09', 'Q117'),
 ('2016-07-01', 'Q117'),
 ('2016-10-13', 'Q117'),
 ('2015-01-14', 'Q115'),
 ('2014-02-13', 'Q114'),
 ('2019-06-28', 'Q119'),
 ('2009-02-06', 'Q109'),
 ('2013-04-12', 'Q113'),
 ('2016-08-11', 'Q118'),
 ('2020-07-02', 'Q122'),
 ('2020-12-15', 'Q121'),
 ('2019-05-03', 'Q119'),
 ('2009-01-19', 'Q110'),
 ('2020-03-13', 'Q121'),
 ('2020-12-15', 'Q122'),
 ('2020-03-10', 'Q120'),
 ('2014-01-15', 'Q114'),
 ('2014-10-02', 'Q115'),
 ('2017-10-26', 'Q117'),
 ('2019-10-31', 'Q119'),
 ('2007-02-09', 'Q108'),
 ('2003-10-06', 'Q104'),
 ('2018-08-09', 'Q119'),
 ('2012-12-07', 'Q113'),
 ('2020-07-23', 'Q121'),
 ('2017-01-27', 'Q117'),
 ('2021-02-19', 'Q122'),
 ('2017-03-10', 'Q117'),
 ('2015-11-30', 'Q117'),
 ('2015-03-11', 'Q115'),
 ('2021-02-19', 'Q121'),
 ('2020-04-08', 'Q120'),
 ('2008-03-07', 'Q108'),
 ('2020-04-09', 'Q121'),
 ('2019-12-06', 'Q121'),
 ('2018-02-19', 'Q119'),
 ('2010-08-23', 'Q110'),
 ('2010-08-30', 'Q111'),
 ('2020-03-05', 'Q121'),
 ('2011-02-14', 'Q111'),
 ('2016-07-18', 'Q117'),
 ('2020-04-23', 'Q120'),
 ('2019-07-02', 'Q120'),
 ('2019-12-20', 'Q121'),
 ('2008-03-10', 'Q108'),
 ('2011-06-06', 'Q111'),
 ('2017-03-23', 'Q118'),
 ('2020-10-22', 'Q121'),
 ('2015-07-22', 'Q115'),
 ('2019-03-01', 'Q120'),
 ('2011-05-13', 'Q112'),
 ('2015-04-03', 'Q115'),
 ('2021-01-07', 'Q121'),
 ('2009-04-06', 'Q110'),
 ('2021-03-31', 'Q121'),
 ('2015-07-23', 'Q116'),
 ('2017-05-16', 'Q118'),
 ('2016-11-21', 'Q117'),
 ('2014-11-18', 'Q115'),
 ('2019-07-19', 'Q120'),
 ('2013-04-26', 'Q114'),
 ('2013-11-01', 'Q114'),
 ('2021-03-31', 'Q122'),
 ('2010-06-14', 'Q111'),
 ('2020-06-05', 'Q121'),
 ('2017-03-09', 'Q117'),
 ('2013-12-12', 'Q114'),
 ('2016-01-21', 'Q116'),
 ('2020-07-10', 'Q121'),
 ('2019-08-23', 'Q119'),
 ('2017-01-17', 'Q118'),
 ('2020-06-05', 'Q122'),
 ('2018-09-14', 'Q119'),
 ('2011-03-08', 'Q111'),
 ('2011-04-08', 'Q112'),
 ('2019-11-15', 'Q121'),
 ('2014-04-03', 'Q114'),
 ('2018-03-22', 'Q118'),
 ('2017-04-13', 'Q117'),
 ('2017-06-29', 'Q117'),
 ('2018-10-26', 'Q118'),
 ('2018-03-15', 'Q119'),
 ('2020-11-18', 'Q121'),
 ('2017-05-11', 'Q117'),
 ('2013-02-14', 'Q113'),
 ('2020-10-16', 'Q122'),
 ('2013-09-20', 'Q114'),
 ('2010-05-11', 'Q111'),
 ('2016-09-15', 'Q116'),
 ('2021-04-23', 'Q120'),
 ('2017-11-09', 'Q119'),
 ('2018-09-13', 'Q119'),
 ('2020-10-16', 'Q121'),
 ('2013-06-14', 'Q114'),
 ('2016-05-06', 'Q117'),
 ('2019-10-04', 'Q119'),
 ('2020-03-18', 'Q120'),
 ('2015-02-26', 'Q115'),
 ('2014-11-21', 'Q115'),
 ('2020-11-20', 'Q122'),
 ('2021-10-11', 'Q122'),
 ('2014-11-20', 'Q114'),
 ('2010-07-19', 'Q110'),
 ('2011-01-24', 'Q111'),
 ('2020-01-14', 'Q120'),
 ('2015-05-28', 'Q115'),
 ('2021-01-22', 'Q120'),
 ('2019-04-05', 'Q119'),
 ('2008-01-24', 'Q109'),
 ('2017-09-28', 'Q117'),
 ('2010-04-01', 'Q110'),
 ('2019-01-11', 'Q120'),
 ('2014-06-13', 'Q115'),
 ('2016-05-13', 'Q117'),
 ('2013-07-25', 'Q113'),
 ('2011-01-13', 'Q112'),
 ('2010-11-22', 'Q111'),
 ('2013-07-17', 'Q113'),
 ('2018-04-23', 'Q119'),
 ('2020-07-13', 'Q121'),
 ('2021-10-15', 'Q123'),
 ('2005-02-09', 'Q105'),
 ('2016-04-01', 'Q117'),
 ('2018-09-13', 'Q120'),
 ('2014-09-12', 'Q115'),
 ('2019-10-23', 'Q119'),
 ('2021-01-08', 'Q121'),
 ('2017-09-14', 'Q117'),
 ('2012-08-27', 'Q112'),
 ('2020-10-12', 'Q121'),
 ('2018-10-19', 'Q120'),
 ('2011-04-04', 'Q112'),
 ('2011-01-17', 'Q111'),
 ('2008-01-17', 'Q109'),
 ('2019-08-16', 'Q119'),
 ('2015-07-30', 'Q115'),
 ('2005-06-09', 'Q106'),
 ('2019-03-14', 'Q120'),
 ('2007-03-08', 'Q107'),
 ('2019-10-18', 'Q120'),
 ('2017-02-24', 'Q117'),
 ('2017-02-24', 'Q118'),
 ('2011-10-17', 'Q111'),
 ('2006-01-13', 'Q106'),
 ('2013-07-17', 'Q114'),
 ('2017-10-13', 'Q117'),
 ('2020-09-04', 'Q122'),
 ('2011-07-11', 'Q112'),
 ('2012-11-15', 'Q113'),
 ('2017-02-03', 'Q118'),
 ('2018-10-02', 'Q119'),
 ('2017-02-03', 'Q117'),
 ('2015-05-01', 'Q115'),
 ('2013-03-14', 'Q114'),
 ('2017-07-06', 'Q118'),
 ('2013-02-20', 'Q113'),
 ('2011-10-31', 'Q113'),
 ('2015-02-17', 'Q116'),
 ('2016-09-16', 'Q116'),
 ('2018-11-30', 'Q120'),
 ('2017-04-27', 'Q117'),
 ('2020-05-22', 'Q121'),
 ('2018-03-23', 'Q119'),
 ('2013-03-12', 'Q113'),
 ('2009-05-12', 'Q110'),
 ('2021-01-06', 'Q121'),
 ('2012-08-09', 'Q113'),
 ('2021-02-05', 'Q122'),
 ('2008-01-03', 'Q108'),
 ('2016-10-27', 'Q117'),
 ('2008-08-11', 'Q109'),
 ('2018-09-21', 'Q120'),
 ('2016-11-25', 'Q117'),
 ('2010-04-26', 'Q110'),
 ('2020-09-17', 'Q121'),
 ('2017-09-22', 'Q118'),
 ('2016-09-22', 'Q116'),
 ('2019-02-08', 'Q120'),
 ('2018-01-05', 'Q118'),
 ('2015-01-29', 'Q116'),
 ('2010-12-09', 'Q112'),
 ('2019-03-22', 'Q119'),
 ('2016-03-04', 'Q116'),
 ('2015-07-09', 'Q116'),
 ('2018-10-05', 'Q119'),
 ('2021-11-12', 'Q123'),
 ('2013-06-05', 'Q114'),
 ('2017-01-20', 'Q117'),
 ('2018-01-19', 'Q118'),
 ('2019-11-18', 'Q119'),
 ('2017-01-06', 'Q117'),
 ('2004-04-07', 'Q104'),
 ('2020-04-14', 'Q120'),
 ('2015-02-19', 'Q116'),
 ('2008-03-11', 'Q108'),
 ('2010-09-13', 'Q110'),
 ('2016-12-30', 'Q117'),
 ('2014-11-07', 'Q114'),
 ('2018-04-13', 'Q118'),
 ('2003-12-08', 'Q104'),
 ('2020-05-08', 'Q120'),
 ('2011-04-19', 'Q111'),
 ('2006-04-11', 'Q107'),
 ('2009-01-16', 'Q109'),
 ('2018-02-16', 'Q118'),
 ('2017-09-01', 'Q118'),
 ('2011-11-10', 'Q112'),
 ('2016-08-11', 'Q117'),
 ('2017-11-03', 'Q118'),
 ('2017-07-18', 'Q118'),
 ('2014-12-17', 'Q115'),
 ('2016-10-20', 'Q117'),
 ('2015-01-22', 'Q115'),
 ('2007-10-22', 'Q108'),
 ('2020-01-15', 'Q120'),
 ('2012-12-13', 'Q114'),
 ('2021-02-12', 'Q120'),
 ('2020-09-03', 'Q121'),
 ('2007-12-11', 'Q108'),
 ('2019-01-25', 'Q120'),
 ('2013-03-29', 'Q113'),
 ('2018-03-15', 'Q118'),
 ('2018-03-09', 'Q118'),
 ('2013-06-07', 'Q113'),
 ('2013-02-27', 'Q113'),
 ('2015-04-02', 'Q116'),
 ('2017-05-05', 'Q118'),
 ('2020-04-02', 'Q121'),
 ('2017-01-12', 'Q116'),
 ('2016-04-29', 'Q117'),
 ('2020-11-27', 'Q120'),
 ('2018-06-01', 'Q119'),
 ('2018-08-31', 'Q118'),
 ('2018-09-20', 'Q119'),
 ('2012-07-11', 'Q113'),
 ('2015-11-13', 'Q117'),
 ('2015-12-17', 'Q116'),
 ('2017-07-28', 'Q118'),
 ('2019-02-01', 'Q120'),
 ('2018-11-16', 'Q118'),
 ('2015-02-06', 'Q115'),
 ('2017-06-02', 'Q118'),
 ('2013-05-22', 'Q113'),
 ('2021-02-26', 'Q120'),
 ('2008-11-04', 'Q109'),
 ('2003-06-09', 'Q104'),
 ('2011-04-12', 'Q111'),
 ('2005-10-11', 'Q106'),
 ('2009-08-12', 'Q110'),
 ('2021-03-09', 'Q121'),
 ('2019-03-14', 'Q119'),
 ('2011-07-05', 'Q112'),
 ('2019-10-24', 'Q120'),
 ('2014-05-23', 'Q115'),
 ('2020-03-03', 'Q121'),
 ('2020-12-11', 'Q122'),
 ('2012-12-13', 'Q113'),
 ('2016-04-07', 'Q116'),
 ('2010-05-04', 'Q110'),
 ('2018-10-26', 'Q120'),
 ('2015-05-14', 'Q116'),
 ('2015-03-25', 'Q115'),
 ('2015-06-11', 'Q116'),
 ('2017-05-26', 'Q118'),
 ('2015-11-06', 'Q116'),
 ('2017-03-22', 'Q117'),
 ('2017-06-15', 'Q118'),
 ('2016-11-03', 'Q116'),
 ('2009-08-07', 'Q110'),
 ('2016-08-26', 'Q117'),
 ('2018-07-13', 'Q118'),
 ('2013-02-01', 'Q113'),
 ('2018-05-10', 'Q119'),
 ('2018-04-20', 'Q119'),
 ('2013-10-18', 'Q114'),
 ('2018-07-20', 'Q118'),
 ('2019-02-22', 'Q118'),
 ('2013-10-16', 'Q113'),
 ('2020-12-18', 'Q122'),
 ('2017-11-02', 'Q117'),
 ('2015-03-05', 'Q116'),
 ('2020-04-06', 'Q121'),
 ('2019-02-13', 'Q119'),
 ('2020-01-24', 'Q121'),
 ('2009-12-09', 'Q111'),
 ('2021-02-26', 'Q121'),
 ('2013-03-01', 'Q114'),
 ('2015-03-13', 'Q115'),
 ('2010-09-20', 'Q110'),
 ('2013-11-04', 'Q114'),
 ('2013-10-03', 'Q113'),
 ('2009-11-10', 'Q111'),
 ('2019-04-05', 'Q120'),
 ('2014-07-16', 'Q115'),
 ('2010-10-11', 'Q111'),
 ('2012-09-13', 'Q113'),
 ('2010-08-02', 'Q110'),
 ('2012-10-31', 'Q113'),
 ('2012-10-17', 'Q113'),
 ('2010-11-02', 'Q111'),
 ('2011-09-12', 'Q112'),
 ('2021-02-22', 'Q122'),
 ('2020-12-03', 'Q121'),
 ('2016-10-20', 'Q116'),
 ('2011-08-22', 'Q111'),
 ('2012-10-12', 'Q112'),
 ('2014-02-19', 'Q114'),
 ('2018-10-11', 'Q120'),
 ('2018-02-19', 'Q118'),
 ('2021-02-22', 'Q121'),
 ('2010-05-17', 'Q110'),
 ('2021-06-18', 'Q121'),
 ('2010-04-26', 'Q111'),
 ('2019-03-22', 'Q118'),
 ('2009-06-09', 'Q110'),
 ('2019-02-22', 'Q120'),
 ('2013-11-15', 'Q114'),
 ('2020-01-17', 'Q121'),
 ('2020-07-02', 'Q121'),
 ('2008-09-08', 'Q109'),
 ('2013-09-12', 'Q114'),
 ('2020-04-01', 'Q121'),
 ('2020-10-02', 'Q122'),
 ('2019-03-29', 'Q119'),
 ('2019-06-14', 'Q118'),
 ('2020-10-08', 'Q121'),
 ('2016-08-12', 'Q117'),
 ('2018-07-06', 'Q118'),
 ('2020-04-24', 'Q121'),
 ('2015-07-02', 'Q116'),
 ('2019-03-08', 'Q120'),
 ('2017-05-19', 'Q117'),
 ('2018-02-09', 'Q119'),
 ('2018-06-15', 'Q119'),
 ('2020-06-05', 'Q120'),
 ('2019-07-02', 'Q119'),
 ('2008-01-03', 'Q109'),
 ('2008-05-09', 'Q109'),
 ('2010-10-08', 'Q111'),
 ('2016-11-04', 'Q116'),
 ('2010-01-14', 'Q111'),
 ('2021-10-14', 'Q122'),
 ('2006-08-11', 'Q107'),
 ('2020-06-12', 'Q120'),
 ('2020-12-04', 'Q121'),
 ('2016-02-19', 'Q117'),
 ('2016-11-18', 'Q116'),
 ('2018-03-09', 'Q119'),
 ('2007-11-21', 'Q109'),
 ('2020-10-30', 'Q121'),
 ('2017-06-08', 'Q117'),
 ('2021-04-16', 'Q120'),
 ('2014-10-09', 'Q116'),
 ('2012-11-16', 'Q113'),
 ('2021-05-27', 'Q122'),
 ('2004-07-07', 'Q105'),
 ('2017-03-02', 'Q117'),
 ('2020-10-13', 'Q122'),
 ('2014-10-30', 'Q115'),
 ('2015-09-23', 'Q116'),
 ('2015-03-06', 'Q115'),
 ('2013-08-08', 'Q114'),
 ('2015-12-11', 'Q116'),
 ('2013-12-12', 'Q115'),
 ('2012-08-13', 'Q113'),
 ('2011-08-15', 'Q112'),
 ('2010-12-10', 'Q111'),
 ('2017-03-16', 'Q117'),
 ('2006-02-09', 'Q106'),
 ('2021-10-22', 'Q122'),
 ('2013-07-25', 'Q114'),
 ('2018-05-25', 'Q118'),
 ('2008-09-18', 'Q109'),
 ('2014-02-14', 'Q115'),
 ('2019-03-29', 'Q118'),
 ('2020-09-11', 'Q122'),
 ('2017-09-08', 'Q117'),
 ('2015-01-02', 'Q115'),
 ('2019-12-13', 'Q121'),
 ('2017-02-17', 'Q117'),
 ('2013-11-14', 'Q115'),
 ('2015-08-07', 'Q115'),
 ('2014-02-14', 'Q114'),
 ('2017-11-09', 'Q118'),
 ('2011-05-23', 'Q112'),
 ('2015-10-21', 'Q116'),
 ('2015-01-23', 'Q115'),
 ('2013-03-15', 'Q113'),
 ('2021-01-08', 'Q120'),
 ('2018-12-07', 'Q119'),
 ('2014-07-10', 'Q115'),
 ('2013-11-25', 'Q114'),
 ('2020-10-09', 'Q121'),
 ('2012-03-14', 'Q113'),
 ('2016-05-13', 'Q116'),
 ('2018-11-30', 'Q117'),
 ('2014-07-30', 'Q115'),
 ('2014-08-29', 'Q115'),
 ('2016-02-08', 'Q117'),
 ('2019-10-18', 'Q119'),
 ('2010-08-04', 'Q111'),
 ('2008-08-07', 'Q109'),
 ('2013-11-22', 'Q114'),
 ('2020-05-01', 'Q120'),
 ('2019-07-31', 'Q121'),
 ('2007-12-05', 'Q108'),
 ('2019-05-17', 'Q119'),
 ('2019-09-06', 'Q119'),
 ('2018-06-01', 'Q118'),
 ('2013-03-28', 'Q113'),
 ('2020-09-18', 'Q121'),
 ('2005-07-12', 'Q106'),
 ('2016-07-14', 'Q117'),
 ('2019-04-05', 'Q118'),
 ('2017-12-08', 'Q118'),
 ('2016-04-04', 'Q116'),
 ('2016-01-21', 'Q117'),
 ('2016-11-21', 'Q118'),
 ('2010-05-11', 'Q110'),
 ('2016-05-27', 'Q116'),
 ('2016-09-08', 'Q117'),
 ('2014-09-24', 'Q115'),
 ('2018-03-01', 'Q118'),
 ('2019-09-13', 'Q119'),
 ('2021-04-16', 'Q121'),
 ('2013-05-31', 'Q113'),
 ('2015-02-13', 'Q115'),
 ('2014-05-14', 'Q115'),
 ('2013-07-05', 'Q114'),
 ('2020-09-04', 'Q121'),
 ('2021-03-30', 'Q121'),
 ('2021-03-19', 'Q121'),
 ('2016-09-23', 'Q117'),
 ('2018-04-06', 'Q119'),
 ('2007-12-19', 'Q108'),
 ('2017-05-26', 'Q117'),
 ('2011-08-18', 'Q112'),
 ('2019-11-22', 'Q120'),
 ('2010-02-11', 'Q110'),
 ('2015-02-20', 'Q115'),
 ('2008-01-17', 'Q108'),
 ('2020-03-20', 'Q121'),
 ('2011-08-12', 'Q113'),
 ('2017-12-04', 'Q118'),
 ('2019-07-01', 'Q120'),
 ('2011-06-10', 'Q112'),
 ('2010-09-27', 'Q110'),
 ('2017-03-03', 'Q117'),
 ('2019-11-15', 'Q119'),
 ('2021-01-29', 'Q122'),
 ('2009-12-09', 'Q110'),
 ('2021-05-21', 'Q122'),
 ('2007-11-21', 'Q108'),
 ('2017-03-24', 'Q118'),
 ('2019-12-20', 'Q120'),
 ('2019-10-17', 'Q119'),
 ('2006-12-11', 'Q107'),
 ('2019-12-18', 'Q120'),
 ('2018-03-23', 'Q118'),
 ('2019-01-02', 'Q120'),
 ('2018-03-02', 'Q118'),
 ('2018-03-02', 'Q119'),
 ('2008-10-10', 'Q109'),
 ('2021-07-09', 'Q122'),
 ('2020-12-31', 'Q120'),
 ('2006-09-08', 'Q107'),
 ('2015-02-12', 'Q116'),
 ('2018-11-02', 'Q118'),
 ('2011-04-08', 'Q111'),
 ('2017-12-14', 'Q117'),
 ('2012-09-19', 'Q113'),
 ('2019-10-11', 'Q119'),
 ('2020-04-21', 'Q120'),
 ('2019-02-15', 'Q119'),
 ('2019-08-22', 'Q119'),
 ('2011-02-08', 'Q111'),
 ('2010-04-01', 'Q111'),
 ('2021-04-30', 'Q122'),
 ('2016-11-17', 'Q118'),
 ('2017-12-21', 'Q118'),
 ('2010-05-10', 'Q111'),
 ('2010-09-10', 'Q111'),
 ('2017-05-25', 'Q118'),
 ('2010-04-12', 'Q110'),
 ('2010-09-27', 'Q111'),
 ('2015-03-30', 'Q115'),
 ('2016-12-09', 'Q116'),
 ('2019-10-04', 'Q121'),
 ('2009-06-10', 'Q110'),
 ('2021-07-26', 'Q122'),
 ('2017-07-19', 'Q118'),
 ('2008-10-15', 'Q109'),
 ('2018-04-30', 'Q118'),
 ('2004-02-09', 'Q105'),
 ('2014-01-15', 'Q115'),
 ('2021-06-04', 'Q121'),
 ('2015-10-01', 'Q116'),
 ('2015-06-12', 'Q116'),
 ('2021-08-31', 'Q122'),
 ('2014-11-14', 'Q115'),
 ('2014-12-12', 'Q115'),
 ('2021-06-04', 'Q122'),
 ('2016-11-18', 'Q118'),
 ('2014-01-16', 'Q114'),
 ('2010-12-09', 'Q111'),
 ('2011-03-21', 'Q111'),
 ('2013-07-11', 'Q114'),
 ('2017-08-17', 'Q118'),
 ('2012-09-24', 'Q113'),
 ('2015-03-19', 'Q116'),
 ('2016-10-21', 'Q117'),
 ('2017-08-18', 'Q118'),
 ('2017-10-05', 'Q118'),
 ('2008-04-07', 'Q108'),
 ('2012-07-23', 'Q113'),
 ('2017-10-13', 'Q119'),
 ('2016-10-07', 'Q116'),
 ('2018-02-28', 'Q118'),
 ('2021-07-01', 'Q122'),
 ('2021-03-10', 'Q121'),
 ('2019-04-26', 'Q119'),
 ('2004-04-07', 'Q105'),
 ('2020-07-01', 'Q121'),
 ('2011-09-19', 'Q111'),
 ('2010-11-10', 'Q111'),
 ('2021-09-03', 'Q122'),
 ('2011-08-15', 'Q111'),
 ('2016-03-24', 'Q116'),
 ('2014-05-30', 'Q115'),
 ('2013-06-13', 'Q114'),
 ('2019-11-21', 'Q121'),
 ('2018-09-28', 'Q119'),
 ('2011-07-11', 'Q111'),
 ('2021-07-15', 'Q122'),
 ('2018-11-23', 'Q120'),
 ('2017-09-12', 'Q118'),
 ('2013-10-03', 'Q114'),
 ('2020-06-25', 'Q122'),
 ('2013-04-05', 'Q113'),
 ('2014-08-15', 'Q115'),
 ('2009-04-06', 'Q109'),
 ('2018-04-12', 'Q119'),
 ('2019-04-26', 'Q118'),
 ('2018-09-21', 'Q118'),
 ('2017-04-21', 'Q117'),
 ('2012-10-05', 'Q112'),
 ('2012-08-20', 'Q113'),
 ('2018-09-21', 'Q119'),
 ('2016-05-04', 'Q117'),
 ('2013-10-16', 'Q114'),
 ('2017-07-06', 'Q117'),
 ('2017-06-16', 'Q118'),
 ('2016-11-11', 'Q116'),
 ('2015-03-19', 'Q115'),
 ('2019-03-08', 'Q118'),
 ('2013-08-23', 'Q114'),
 ('2019-05-03', 'Q120'),
 ('2015-05-21', 'Q116'),
 ('2008-11-28', 'Q109'),
 ('2014-09-11', 'Q115'),
 ('2008-02-22', 'Q108'),
 ('2016-06-03', 'Q117'),
 ('2015-02-05', 'Q115'),
 ('2013-04-19', 'Q114'),
 ('2014-02-07', 'Q114'),
 ('2017-05-12', 'Q117'),
 ('2006-10-11', 'Q107'),
 ('2015-10-22', 'Q115'),
 ('2018-11-09', 'Q120'),
 ('2005-02-09', 'Q106'),
 ('2012-05-10', 'Q113'),
 ('2014-01-29', 'Q115'),
 ('2016-12-15', 'Q116'),
 ('2013-09-12', 'Q115'),
 ('2013-06-21', 'Q114'),
 ('2021-03-29', 'Q122'),
 ('2021-07-02', 'Q122'),
 ('2013-03-15', 'Q114'),
 ('2013-06-07', 'Q114'),
 ('2008-01-23', 'Q108'),
 ('2019-05-10', 'Q119'),
 ('2014-07-30', 'Q114'),
 ('2013-07-12', 'Q113'),
 ('2009-02-06', 'Q110'),
 ('2008-09-10', 'Q109'),
 ('2021-10-22', 'Q123'),
 ('2021-03-29', 'Q121'),
 ('2013-04-19', 'Q113'),
 ('2012-04-03', 'Q113'),
 ('2014-12-04', 'Q115'),
 ('2019-04-26', 'Q120'),
 ('2017-07-20', 'Q117'),
 ('2015-12-18', 'Q116'),
 ('2011-03-28', 'Q111'),
 ('2019-06-07', 'Q119'),
 ('2020-01-31', 'Q120'),
 ('2007-11-15', 'Q108'),
 ('2017-02-02', 'Q118'),
 ('2007-07-10', 'Q108'),
 ('2019-08-02', 'Q119'),
 ('2015-02-05', 'Q116'),
 ('2015-12-04', 'Q116'),
 ('2017-08-10', 'Q118'),
 ('2020-11-05', 'Q121'),
 ('2010-12-17', 'Q111'),
 ('2018-08-31', 'Q119'),
 ('2016-01-29', 'Q116'),
 ('2019-02-04', 'Q118'),
 ('2011-08-19', 'Q112'),
 ('2018-08-24', 'Q119'),
 ('2014-12-11', 'Q116'),
 ('2021-06-18', 'Q122'),
 ('2013-05-10', 'Q113'),
 ('2011-02-08', 'Q112'),
 ('2019-06-21', 'Q118'),
 ('2015-01-16', 'Q116'),
 ('2014-04-30', 'Q115'),
 ('2017-01-13', 'Q117'),
 ('2020-12-31', 'Q121'),
 ('2021-06-14', 'Q122'),
 ('2020-10-02', 'Q121'),
 ('2017-05-18', 'Q118'),
 ('2014-12-12', 'Q116'),
 ('2014-02-21', 'Q115'),
 ('2021-03-26', 'Q120'),
 ('2017-03-10', 'Q118'),
 ('2020-11-06', 'Q121'),
 ('2015-10-08', 'Q116'),
 ('2013-10-30', 'Q113'),
 ('2016-09-08', 'Q116'),
 ('2015-06-18', 'Q116'),
 ('2020-04-03', 'Q120'),
 ('2017-02-16', 'Q117'),
 ('2016-12-02', 'Q117'),

In [70]:

for i in date_qtr:
    values = []
    qtr = i[1]
    
    for idx, row in df.iterrows():
        if row['str_date'] == date and row['forecast']== qtr:
            
            val = row['Value']
            values.append(val)
        else:
            pass

[2.5]
('2015-10-30', 'Q116')
[3.5, 6.4]
('2021-04-30', 'Q121')
[0.8]
('2016-08-04', 'Q116')
[2.3]
('2016-05-06', 'Q117')
[2.6]
('2014-01-29', 'Q115')
[3.2]
('2017-05-05', 'Q118')
[2.4]
('2021-08-02', 'Q122')
[-2.1]
('2014-11-05', 'Q114')
[2.0, 2.5, 1.1]
('2020-01-31', 'Q121')
[1.5]
('2007-10-24', 'Q108')
[4.5, 3.5]
('2021-11-05', 'Q122')
[2.3]
('2016-01-28', 'Q117')
[0.8]
('2016-11-04', 'Q116')
[2.3]
('2016-04-29', 'Q117')
[2.3]
('2017-08-03', 'Q118')
[9.6]
('2021-01-29', 'Q122')
[-2.1]
('2014-07-30', 'Q114')
[3.1, 3.1, 3.1]
('2019-11-01', 'Q119')
[3.7]
('2010-11-02', 'Q110')
[-4.8, -4.8]
('2020-04-30', 'Q120')
[2.2]
('2009-02-06', 'Q110')
[0.5]
('2016-02-08', 'Q116')
[2.5, 2.2]
('2016-02-05', 'Q116')
[1.4]
('2017-07-28', 'Q117')
[2.5]
('2018-04-27', 'Q119')
[3.0, 3.9, 3.0, 3.5, 3.6, 3.2, 3.2]
('2005-05-09', 'Q106')
[2.0, 1.8, 0.7]
('2019-04-26', 'Q120')
[3.8, 5.6]
('2021-11-03', 'Q122')
[2.1]
('2018-08-06', 'Q119')
[4.2]
('2021-04-29', 'Q121')
[2.8]
('2017-11-02', 'Q118')
[2.6]
('2015-07-30', 'Q116')
[3.0, 3.2, 2.0, 2.5]
('2020-10-30', 'Q121')
[3.1, 4.0, 2.5, 3.5, 2.7, 1.5, 3.1, 2.0, 3.3]
('2006-05-09', 'Q107')
[2.47]
('2008-01-24', 'Q109')
[2.0]
('2011-02-07', 'Q112')
[2.2]
('2019-03-01', 'Q118')
[0.7, 1.8, 1.5]
('2017-04-28', 'Q117')
[1.5, 1.5, 1.3, 0.6, 1.2]
('2020-01-31', 'Q120')
[2.0]
('2017-08-04', 'Q118')
[2.5, 2.0, 2.0]
('2016-10-28', 'Q117')
[0.5, 0.5]
('2016-04-29', 'Q116')
[2.2, 2.2, 2.2]
('2018-11-02', 'Q118')
[1.8]
('2018-04-27', 'Q118')
[2.0]
('2016-05-02', 'Q116')
[3.0]
('2017-02-02', 'Q118')
[0.6]
('2015-07-31', 'Q115')
[2.3]
('2021-01-29', 'Q120')
[2.0, 2.4]
('2017-02-02', 'Q117')
[2.5]
('2014-10-30', 'Q115')
[0.4]
('2011-10-31', 'Q111')
[2.0, 2.2]
('2017-07-28', 'Q118')
[3.1]
('2019-08-02', 'Q119')
[2.5, 3.0, 1.2]
('2015-02-06', 'Q115')
[3.0]
('2020-04-29', 'Q121')
[0.2]
('2015-04-30', 'Q115')
[2.5]
('2013-05-03', 'Q113')
[2.6]
('2015-02-05', 'Q116')
[2.8]
('2013-08-08', 'Q114')
[3.0]
('2014-08-01', 'Q115')
[2.5, 1.8, 1.5, 0.37, 2.4]
('2019-03-01', 'Q119')
[2.7]
('2020-11-05', 'Q121')
[1.0, 0.7]
('2012-10-26', 'Q113')
[3.3]
('2014-01-29', 'Q114')
[1.78]
('2019-05-06', 'Q120')
[2.0, 3.9, 3.5, 2.4, 5.4]
('2021-04-30', 'Q122')
[-1.0]
('2008-11-04', 'Q109')
[5.0]
('2020-04-30', 'Q121')
[2.0]
('2007-10-26', 'Q108')
[4.0]
('2011-02-07', 'Q111')
[3.2]
('2017-04-28', 'Q118')
[2.6]
('2015-05-07', 'Q116')
[0.7]
('2019-10-31', 'Q120')
[1.8]
('2008-01-24', 'Q108')
[2.8]
('2015-01-29', 'Q115')
[2.5, 2.0]
('2016-01-29', 'Q116')
[2.0]
('2018-07-27', 'Q118')
[2.5]
('2010-05-10', 'Q111')
[0.6]
('2015-07-30', 'Q115')
[1.5, 1.7, 1.8, 0.5]
('2019-11-01', 'Q120')
[3.0]
('2014-02-07', 'Q115')
[2.3, 2.1, 1.9, 2.2, 1.6, 1.0, 1.7, 2.3, 2.0, 2.5, 1.7, 2.3, 0.0, 2.4, 1.2, 1.5, 1.1, 2.1, 2.0, 1.8, 2.1, 1.7, 2.4, 1.8, 1.8, 2.0, 1.8, 2.1]
('2019-11-08', 'Q121')
[3.5, 4.1, 4.0, 3.2, 3.0, 3.8, 3.6, 3.5]
('2004-05-03', 'Q105')
[2.86]
('2018-04-24', 'Q119')
[-5.2]
('2009-02-06', 'Q109')
[2.5]
('2014-11-06', 'Q115')
[3.6, 2.0, 3.2, 2.5, 3.4, 3.0, 2.5]
('2004-11-09', 'Q105')
[2.5]
('2010-08-02', 'Q111')
[2.8]
('2014-04-30', 'Q115')
[2.3]
('2007-11-05', 'Q108')
[2.4, 3.1, 3.0, 2.7, 2.5, 3.8, 3.2, 3.4, 3.0, 2.7, 2.6, 2.6, 3.2, 3.0, 2.2, 2.7, 2.3, 3.0, 2.3, 2.5, 3.2, 2.8, 3.6, 2.6, 2.4, 3.3, 2.8, 3.1, 2.9, 3.0, 2.6, 2.2, 2.2]
('2013-08-07', 'Q114')
[2.6]
('2007-10-24', 'Q109')
[1.5, 1.5, 1.0, 0.6, 1.2]
('2020-02-07', 'Q120')
[3.2]
('2010-05-04', 'Q110')
[3.2, 3.2, 3.2]
('2019-05-03', 'Q119')
[2.6]
('2015-10-29', 'Q116')
[-4.8]
('2020-04-29', 'Q120')
[2.2]
('2017-01-26', 'Q117')
[3.6]
('2021-02-04', 'Q121')
[2.9]
('2017-02-03', 'Q118')
[2.5, 2.4, 2.3, 2.7, 2.4]
('2018-11-02', 'Q119')
[1.5]
('2021-11-03', 'Q123')
[2.0, 1.8, 2.1]
('2017-02-03', 'Q117')
[2.6]
('2018-10-26', 'Q120')
[2.32]
('2018-04-30', 'Q118')
[1.5]
('2013-02-08', 'Q113')
[0.2]
('2015-05-01', 'Q115')
[2.9]
('2017-01-27', 'Q118')
[1.6]
('2011-10-31', 'Q113')
[2.6, 3.0, 2.8, 2.5, 2.5, 3.7, 2.6, 2.9, 3.3, 2.6, 2.6, 2.5, 2.7, 3.2, 3.0, 1.9, 3.0, 2.8, 4.1, 2.5, 3.0, 2.8, 2.2, 4.3, 3.3, 4.1, 2.6, 2.4, 2.5, 2.4, 2.7, 3.0, 3.0, 2.1, 3.0, 1.8]
('2013-11-14', 'Q114')
[4.0, 5.1, 4.0, 3.2, 3.0, 3.7]
('2004-02-09', 'Q105')
[2.5, 2.9, 3.0, 3.7, 3.0, 2.4, 2.8, 4.3, 2.5, 2.6, 4.3, 4.2, 3.1, 3.3, 3.0, 2.9, 0.3, 3.3, 2.7, 2.9]
('2013-11-14', 'Q115')
[3.0, 3.2, 1.5]
('2020-11-06', 'Q121')
[2.5]
('2015-11-06', 'Q116')
[1.6, 2.5, 1.5, 1.5, 1.7, 1.8, 1.8, 1.1, 2.2, 1.6, 1.7, 1.3, 1.5, 1.9, 2.5, 1.3, 2.1, 1.8, 1.8, 0.7, 1.0, 1.0, 1.5, 1.6, 2.0, 2.0, 1.9, 1.5, 1.8, -0.3, 1.6, 0.5, 1.6, 0.7, 1.9, 1.9, 2.1, 1.7]
('2019-11-08', 'Q120')
[3.6]
('2009-08-07', 'Q110')
[1.2]
('2013-08-07', 'Q113')
[2.5, 3.0, 2.5]
('2014-10-31', 'Q115')
[0.8]
('2016-11-03', 'Q116')
[1.2]
('2017-10-26', 'Q117')
[3.1]
('2019-10-31', 'Q119')
[2.0]
('2020-10-30', 'Q120')
[0.6]
('2015-08-07', 'Q115')
[2.3]
('2017-04-27', 'Q118')
[2.3]
('2018-02-02', 'Q117')
[4.2]
('2021-11-02', 'Q122')
[2.6]
('2015-04-30', 'Q116')
[0.5]
('2017-04-27', 'Q117')
[2.5, 3.0, 2.0]
('2018-02-02', 'Q118')
[1.0]
('2013-02-01', 'Q113')
[4.1]
('2011-01-28', 'Q111')
[3.17]
('2019-05-06', 'Q119')
[2.3, 3.1]
('2018-08-03', 'Q119')
[3.0]
('2014-08-08', 'Q115')
[3.5, 6.4]
('2021-05-07', 'Q121')
[2.2]
('2018-08-03', 'Q118')
[2.5]
('2018-07-27', 'Q119')
[3.9]
('2021-02-05', 'Q122')
[2.5, 3.0]
('2018-01-26', 'Q118')
[1.2, 2.0]
('2019-07-31', 'Q120')
[1.2]
('2017-11-02', 'Q117')
[2.0, 1.8, 2.1]
('2017-01-27', 'Q117')
[6.0]
('2020-07-30', 'Q121')
[1.5]
('2007-11-01', 'Q108')
[1.5, 1.5, 1.8]
('2019-08-02', 'Q120')
[2.3]
('2016-02-05', 'Q117')
[2.0]
('2011-07-26', 'Q112')
[0.7, 1.8, 0.7]
('2017-05-05', 'Q117')
[2.5]
('2018-01-23', 'Q118')
[1.5]
('2020-11-06', 'Q120')
[2.4]
('2016-10-27', 'Q117')
[1.83]
('2018-04-24', 'Q118')
[2.98]
('2018-04-30', 'Q119')
[2.6]
('2013-11-04', 'Q114')
[2.0]
('2013-02-01', 'Q114')
[2.5, 3.0]
('2014-05-09', 'Q115')
[2.3]
('2017-10-27', 'Q118')
[12.0, 8.5, 5.0]
('2020-05-08', 'Q121')
[5.0, 4.0]
('2020-07-31', 'Q121')
[3.8, 2.0, 3.7, 3.2, 3.6, 3.7, 3.3, 3.5]
('2003-05-08', 'Q104')
[0.5, 1.9]
('2011-10-31', 'Q112')
[2.2]
('2019-05-03', 'Q118')
[0.5]
('2016-05-06', 'Q116')
[2.0, 2.5, 1.1]
('2020-02-07', 'Q121')
[3.5, 3.1, 3.5, 5.3]
('2021-08-06', 'Q122')
[2.3]
('2013-08-09', 'Q114')
[3.2, 3.2, 3.2, 1.6, 2.4]
('2019-04-26', 'Q119')
[3.1, 3.1]
('2019-07-26', 'Q119')
[2.4]
('2014-11-05', 'Q115')
[2.8]
('2014-07-30', 'Q115')
[1.2]
('2008-11-04', 'Q110')
[2.5, 4.0, 3.2, 3.8, 3.7, 2.5]
('2004-08-09', 'Q105')
[3.7]
('2010-08-02', 'Q110')
[2.3]
('2016-02-08', 'Q117')
[0.9]
('2012-10-31', 'Q113')
[2.6]
('2015-01-29', 'Q116')
[2.1]
('2019-11-01', 'Q121')
[2.5]
('2013-04-26', 'Q113')
[1.5, 2.0, 1.8, 1.8]
('2019-07-26', 'Q120')
[3.0, 3.9, 3.5, 3.5, 3.5, 3.1, 3.2, 2.5]
('2005-08-09', 'Q106')
[2.6]
('2007-11-01', 'Q109')
[1.2]
('2017-08-03', 'Q117')
[3.3]
('2010-08-04', 'Q111')
[2.3]
('2017-07-27', 'Q118')
[1.7]
('2019-07-23', 'Q120')
[2.5]
('2016-01-28', 'Q116')
[2.0, 2.0]
('2016-11-04', 'Q117')
[3.2]
('2010-05-10', 'Q110')
[4.7, 3.6, 4.0, 3.5, 3.2, 3.5, 3.7, 3.2]
('2003-08-08', 'Q104')
[2.5]
('2010-11-02', 'Q111')
[1.4]
('2017-07-27', 'Q117')
[2.1]
('2019-07-31', 'Q121')
[-4.8, -4.8]
('2020-05-01', 'Q120')
[2.6]
('2018-11-02', 'Q120')
[4.5, 3.8, 3.5, 6.5]
('2021-10-29', 'Q122')
[2.4]
('2016-08-04', 'Q117')
[2.5, 3.0, 2.5]
('2014-11-07', 'Q115')
[2.3, 0.7]
('2019-03-01', 'Q120')
[1.0]
('2019-03-04', 'Q120')
[2.8]
('2013-02-06', 'Q114')
[2.0]
('2019-03-04', 'Q119')
[2.6]
('2018-01-23', 'Q119')
[2.5, 4.9, 3.5]
('2021-02-05', 'Q121')
[2.5]
('2010-05-04', 'Q111')
[2.0]
('2013-05-03', 'Q114')
[2.2]
('2019-04-26', 'Q118')
[-2.1]
('2014-11-07', 'Q114')
[2.4]
('2016-11-03', 'Q117')
[4.5, 4.7, 5.0, 3.7, 5.0, 3.7]
('2004-02-09', 'Q104')
[2.5, 2.0]
('2016-08-05', 'Q117')
[0.2, 0.2]
('2015-05-08', 'Q115')
[1.6]
('2016-05-04', 'Q117')
[2.6]
('2013-04-24', 'Q114')
[2.0]
('2013-04-26', 'Q114')
[-4.8, -4.8]
('2020-05-08', 'Q120')
[3.1]
('2019-07-30', 'Q119')
[2.5, 3.5, 5.0, 3.9]
('2021-01-29', 'Q121')
[3.5, 3.9, 3.5, 5.4]
('2021-07-30', 'Q122')
[2.5, 3.0]
('2014-05-02', 'Q115')
[2.2]
('2019-03-04', 'Q118')
[3.1]
('2019-07-31', 'Q119')
[3.7, 3.0, 4.0, 4.0, 5.3, 3.4, 3.2]
('2003-11-04', 'Q104')
[2.0, 2.3]
('2017-11-03', 'Q118')
[2.5]
('2013-11-15', 'Q114')
[2.6, 3.1, 3.1, 2.5, 3.0, 2.7, 2.7, 3.0, 3.1, 3.8, 3.0, 2.6, 3.0, 2.9, 3.0, 3.1, 4.2, 2.8, 2.7, 4.3, 2.3, 2.9, 3.3, 2.8, 3.4, 3.1, 3.6, 3.2, 2.7, 2.8, 3.4, 2.8, 3.1]
('2014-05-08', 'Q115')

[2.2]
('2019-03-08', 'Q118')
[5.0, 4.0, 6.0]
('2020-08-07', 'Q121')
[2.5]
('2014-07-31', 'Q115')
[1.0]
('2008-07-29', 'Q109')
[2.0, 0.7]
('2019-05-03', 'Q120')
[2.4]
('2020-10-30', 'Q122')
[9.7]
('2021-02-04', 'Q122')
[7.5]
('2020-05-04', 'Q121')
[1.6]
('2013-02-06', 'Q113')
[2.3]
('2013-08-02', 'Q114')
[2.7, 2.9, 3.6, 2.2, 2.7, 2.5, 4.4, 2.9, 2.8, 3.1, 3.0, 3.2, 3.5, 3.0, 3.0, 2.5]
('2013-08-07', 'Q115')
[12.0, 8.5]
('2020-05-01', 'Q121')
[2.6]
('2015-11-05', 'Q116')
[2.5, 2.0, 1.9]
('2016-07-29', 'Q117')
[2.2, 2.2]
('2018-10-26', 'Q118')
[2.4]
('2020-11-06', 'Q122')
[2.5, 1.8, 1.5, 2.4]
('2019-03-08', 'Q119')
[2.3, 0.7]
('2019-03-08', 'Q120')
[2.8]
('2015-02-05', 'Q115')
[3.1, 3.1]
('2019-11-08', 'Q119')
[2.5, 2.4, 2.3, 1.84, 2.5]
('2018-10-26', 'Q119')
[2.5]
('2018-05-04', 'Q119')
[2.5]
('2014-02-07', 'Q114')
[2.0]
('2013-02-08', 'Q114')
[3.0, 2.7]
('2015-01-30', 'Q115')
[2.8]
('2017-10-26', 'Q118')
[2.7]
('2013-04-24', 'Q113')
[-2.5]
('2008-11-07', 'Q109')
[2.3]
('2021-02-05', 'Q120')
[2.0, 3.9, 3.5, 5.2]
('2021-05-07', 'Q122')
[2.1]
('2019-07-26', 'Q121')

       Unnamed: 0       Date  Value forecast forecaster    str_date
0               7 2020-04-10    1.9     Q121        ABN  2020-04-10
1               8 2020-04-09    1.9     Q121        ABN  2020-04-09
2               9 2020-02-14    2.2     Q121        ABN  2020-02-14
3               7 2020-04-10   -6.0     Q120        ABN  2020-04-10
4               8 2020-04-09   -6.0     Q120        ABN  2020-04-09
...           ...        ...    ...      ...        ...         ...
12026          11 2004-04-07    3.5     Q105         LB  2004-04-07
12027           7 2004-04-07    4.4     Q104         LB  2004-04-07
12028           8 2003-12-08    3.2     Q104         LB  2003-12-08
12029           9 2003-09-09    3.0     Q104         LB  2003-09-09
12030          10 2003-05-08    3.5     Q104         LB  2003-05-08

[12031 rows x 6 columns]

In [72]:
df1

      Deadline    str_date
0   02-12-2002  02-12-2002
1   05-13-2002  05-13-2002
2   08-14-2002  08-14-2002
3   11-13-2002  11-13-2002
4   02-14-2003  02-14-2003
..         ...         ...
75  11-10-2020  11-10-2020
76  02-09-2021  02-09-2021
77  05-12-2021  05-12-2021
78  08-10-2021  08-10-2021
79  11-09-2021  11-09-2021

[80 rows x 2 columns]